[2017-06-04 18:02] icebob opened #1 "Handle multiple types"
Example
[code]

[2017-06-19 21:25] chameleonbr opened #2 "Support custom validator"
Hello, is possible to use custom validators?
example, I need to use other npm package to validate barcodes. I could use this or any other validator with this package?

[code]

[2017-06-20 09:28] icebob commented on #2
Hi,
currently it is not available. But it is a good idea. I think i'm going to implement it.

[2017-07-03 08:47] icebob opened #3 "Browser compatibility"
Make possible to use this lib also in browser.

[2017-07-03 10:02] #1 closed

[2017-07-03 12:09] icebob commented on #2
@chameleonbr this feature is implemented.
Usage:
[code]

[2017-07-03 16:57] #2 closed

[2017-08-20 13:05] icebob opened #5 "Custom validator function access to the object"
[code]

[2017-09-07 11:22] #3 closed

[2017-09-07 20:33] icebob commented on #3
![fastest-validator-banner](https://user-images.githubusercontent.com/306521/30183963-9c722dca-941c-11e7-9e83-c78377ad7f9d.jpg)

[2017-09-09 16:02] icebob opened #11 "$strict"
Strict flag. If set, throw error if found not defined properties.

**Example**
[code]

[2017-11-14 13:59] icebob opened #12 "pattern is not a function"
If the `pattern` is string, convert to regex

[2017-11-14 13:59] icebob commented on #12
`schema.pattern.test is not a function`

[2017-11-27 12:33] chameleonbr commented on #5
This already works?

[2017-11-27 14:10] icebob commented on #5
Not yet.

[2017-12-29 16:36] oiime opened #13 "Benchmarks"
Hey,

I took a quick look at your library and I thought the results for ajv (which I currently use) seemed a bit off. so I made my own script to do a rough benchmark and it yielded very different results, am I missing something? Do you have the script you used to benchmark ajv?

[code]

[2018-01-09 11:02] icebob commented on #13
Hi,

here is my benchmark code: https://github.com/icebob/validator-benchmark

[2018-01-09 12:48] oiime commented on #13
Your tests are broken, you are not compiling the schema as you're supposed to. running it how it's supposed to be used yields ~7000000 op/s

[2018-02-07 15:39] gianpaj commented on #13
So all the benchmark results in Readme file are wrong? or only `ajv`?

I ran the tests on my machine today and I got these results:
[code]

[2018-02-07 15:45] gianpaj commented on #13
FYI I updated the packages to the latest and I got these results:

[code]

[code]

[2018-02-08 04:03] nhat-phan commented on #13
@gianpaj I used `ajv.compile` instead of `ajv.validate` and this is the result

[code]

Code changed:

[code]

[2018-02-08 09:40] prieston opened #14 "Default value for schema properties"
Can someone add default values to schema properties ? eg
    {
        email: { type: 'emai', default: 'test@test.com' }
    }

[2018-02-08 12:08] gianpaj commented on #13
Thanks. I definitely need to move away from `joi`. It's very easy to use and learn, but it's the 2nd slowest ☹️

[2018-02-10 16:02] oiime commented on #13
@gianpaj possibly, I'd just do my own benchmarks instead of relying on this, it's pretty easy to do yourself, personally I use `ajv` as it is faster, more widely adopted and follows the IETF specifications for JSON schema more closely. but draw your own conclusions

[2018-02-14 15:13] prieston opened #15 "convert true to boolean don't actual converts the value."
Convert boolean values as I see from the boolean.js lib it only returns true and not converting the value

[2018-02-14 18:23] icebob commented on #15
Yes, currently it is just a validation. Don't modify the values. Only convert values for checking.

[2018-02-16 12:42] Prieston commented on #15
Ok so will it be supported in future releases?

[2018-02-16 17:27] icebob commented on #15
I think yes. it will be implemented.

[2018-02-28 07:56] alisherafat01 opened #16 "Is async custom vlidation supported?"
For example checking uniqueness of username from db.
`
v.validate(toValidate, schema).then().catch(validationErrors);
`

and using Promise for writing custom validation rule.

[2018-04-03 16:00] tinchoz49 commented on #5
Hi @icebob ! I want to help with this feature.

Currently, the check function is receiving `value`, `schema` and `stack`. How would you prefer to change the check function to receive the obj values?

1. If we don't want to do a breaking change we can send the `obj` has a fourth value but I feel that when we are sending to many parameters something is not right.
2. We can do a refactor to receive `

[2018-04-03 20:11] icebob commented on #5
Great @tinchoz49! Thanks.

First of all, I plan I will rewrite the whole lib to be faster (in some months), so now would be good to choose a non-breaking-change and easy solution.

The `stack` is not used in custom validator func, but it is used to validate nested objects. So the signature of `check` in custom validator must be same as the compiled object validator at [https://github.com/icebob/fa

[2018-04-04 02:34] tinchoz49 commented on #5
Faster than already it's :open_mouth: ? that's great :smile:

is it going to change how we define the schemas or is more like an internal rewrite?

[2018-04-04 08:31] icebob commented on #5
It's just an internal rewrite. The schema won't be touched. It will generate the `check` code from templates and compile with `new Function()`

And would be good to add some sanitization features too (trim, convert to int, convert to boolean, convert to string...etc)

[2018-04-04 08:40] icebob opened #18 "Add sanitizers function"
## Sanitizers

- [ ] **convert strings to numbers**
[code]
- [ ] **convert strings & numbers to booleans**
[code]
- [ ] **convert strings to dates**
[code]
- [ ] **trim strings**
[code]
- [ ] **left-trim strings**
[code]
- [ ] **right-trim strings**
[code]
- [ ] **lowercase strings**
[code]
- [ ] **uppercase strings**
[code]
- [ ] **normalize emails** (lowercase, ...)
[code]
- [ ] **default value*

[2018-04-04 12:57] icebob commented on #5
#17

[2018-04-04 12:57] #5 closed

[2018-04-04 12:58] tinchoz49 commented on #5
Yes, that would be a cool featurea

[2018-04-04 13:04] icebob commented on #5
Not sure, because it seems `ajv` is faster :disappointed: : https://github.com/icebob/validator-benchmark
This is the reason why I want to rewrite it :)

[2018-04-04 13:12] icebob commented on #5
Published in v0.6.6

[2018-04-06 18:49] #16 closed

[2018-04-07 15:13] chameleonbr commented on #5
The ajv generate JS code and compile it using dot.js(https://www.npmjs.com/package/dot).

[2018-04-07 17:32] icebob commented on #5
Yes, I want to implement a similar solution, but with sanitizations.

[2018-04-13 10:43] roccomuso opened #19 "$ref another schema"
I wasn't able to find in the doc a clear reference example.
Like the jsonschema feature: `$ref: '#ext'` // references another schema

What's the equivalent in fastest-validator?

This is what I'm trying to achieve:

[code]

[2018-04-13 16:38] roccomuso opened #20 "reserved keywords"
is `type` a reserved keyword? how ho I validate a prop called `type` without interfering with fastest-validator?

[2018-04-13 19:59] icebob commented on #20
It works:
[code]
https://runkit.com/icebob/5ad10be2955f9a001268ab4e

[2018-04-13 20:00] icebob commented on #19
Referencing is not implemented.

[2018-04-20 19:24] evilandfox opened #21 "Add simple enum validator (that can be any of type)"
Hi! Thanks for your great tool)
I think "enum" validator will be very userful. At this time this is available for string validator. But, for example, I often use numeric enums in REST API as parameters.
I know that it can be made by using multiple validators. But that will be great to write like:
[code]

[2018-04-20 19:36] icebob commented on #21
Good idea. Currently I have no time to implement it. If you think, you can create a PR. You should create a similar rule as [string rule](https://github.com/icebob/fastest-validator/blob/master/lib/rules/string.js)

[2018-04-20 19:44] #20 closed

[2018-04-21 01:01] evilandfox commented on #21
Ok, I'll try to do so

[2018-05-28 16:13] mauricedoepke opened #22 "Multiple validators not working with objects"
It seems like multiple validators are not working properly when they are objects.
Here is an example:

[code]

I expect this validation to fail, but it succeeds. It seems like it only checks whether the array contains an object, but does no further validation regarding the properties.

With other types than objects it is working properly, example:

[code]
Fails as expected because the string is to

[2018-05-28 16:39] icebob commented on #22
Yes, it doesn't work because multiple validator expects different types.

[2018-05-28 17:27] mauricedoepke commented on #22
If I understand your code right, the problem is, that the validation of an object is internally broken up into two rules. First: Whether typeof === 'object' and second: recursively checking the props.

[code]

But the checkerWraper already aborts after one 'internal' rule is valid in a multirule case.
This means that the bug applies to checking of arrays two, because they are also broken up into t

[2018-05-28 17:33] mauricedoepke commented on #19
As soon as #22 is fixed this could be done by wrapping the referenced schema inside an object.

[2018-05-28 18:49] icebob commented on #22
Yes, the second method sounds better. Maybe do you try to fix it in a PR?

[2018-05-29 08:13] #21 closed

[2018-05-29 08:13] #22 closed

[2018-06-05 04:42] futpib opened #25 "Multiple validators + optional = false negative"
[code]

I expected `a` not to be considered required.

[2018-06-05 08:36] icebob commented on #25
Could you test it with the latest & previous versions too?

[2018-06-05 18:51] #25 closed

[2018-06-18 08:36] Scrum opened #27 "[bug]: incorrect validation multiple rules after v0.6.7"
[code]

[2018-06-18 11:29] icebob commented on #27
@mauricedoepke do you have idea?

[2018-06-19 11:33] mauricedoepke commented on #27
@icebob I will look into it on the weekend

[2018-06-19 11:48] icebob commented on #27
Thanks

[2018-06-24 11:16] guumo opened #28 "Add option to set custom message error in configuration"
I think it's very important customize error for a individual configuration field, pass the message key. For example:

`first_name: { type: "string", min: 3, max: 25, message: "What is your name?" },`

[2018-06-25 15:18] Scrum commented on #27
@mauricedoepke Hi, is there progress?

[2018-06-25 20:00] #27 closed

[2018-06-25 20:01] icebob commented on #27
Fixed, released in 0.6.10.

[2018-07-10 22:39] ispyinternet commented on #28
Something I wanted too, I hacked in a solution that works for simple use, not sure what would be required for more complex cases like arrays, or multiple validators.

[code]

My fork is at https://github.com/ispyinternet/fastest-validator

Not a confident contributor so, if the author is up for this functionality perhaps they could implement it more elegantly / robustly?

[2018-09-04 06:11] benjsicam opened #29 "No standard/default error message for url types"
[code]

Based on the docs and code, there isn't a standard/default error message for url types. https://github.com/icebob/fastest-validator#message-types

[2018-09-04 07:51] icebob commented on #29
Thanks. Could you make a PR? Just need to add `url` to [this file.](https://github.com/icebob/fastest-validator/blob/master/lib/messages.js#L42)

[2018-09-12 11:15] andersnm opened #30 "Recursive schema"
Hi, trying to validate a recursive schema for f.ex a category tree, but errors during v.compile with "Maximum call stack size exceeded".

[code]

[2018-09-12 12:12] andersnm commented on #30
I don't have capacity to create a PR at the moment (maybe within a couple weeks, although I'd appreciate to see this in Moleculer asap). Afaict the simplest fix is to change validator.js,

1) Modify the Validator constructor to initialize a map for cached rule checks:

[code]

2) Modify _processRule to check for and cache rule checks:

[code]

This won't cache the outer schema, which would need a

[2018-10-15 06:27] lukeed opened #32 "Thank You 💌📭"
Hey @icebob,

Just wanted to share my thanks for this project. I've finally had time to integrate it into an existing backend and it's been a joy.

In addition to the its performance, I believe it to have the clearest & best API all-around.

I've unfortunately not been following the project's history, so this thank-you extends to the team members and maintainers who I've not tagged, of course 🙏

T

[2018-10-15 16:20] #32 closed, assigned to nobody

[2018-10-19 22:19] vladshcherbin opened #33 "Simple array validation produces duplicated error"
Hey 👋

Not sure if this is expected, but a simple array validation test gives duplicated error. Here is example:

[code]

## Actual

The error is that `users` field is not present, but the error is duplicated:

[code]

## Expected

Since there is only one error, this is what I would expect:

[code]

## Versions

fastest-validator 0.6.10
node 10.11.0

[2018-10-25 18:53] #13 closed

[2018-10-26 12:18] andersnm commented on #33
This test passes on 0.6.11 but fails on 0.6.10. Must have been fixed as a side effect of the reorg:

[code]

[2018-10-26 13:51] andersnm commented on #15
What could this look like, API-wise? And should it mutate or clone the input?

My WIP sanitize branch adds a new parameter to the validator functions, where a sanitized clone of the input is returned. F.ex:

[code]

This leaves the API backwards compatible and mostly unchanged. A maybe nicer, but breaking change could use the return value:

[code]

Both scenarios handle when the input is a primiti

[2018-10-26 17:35] #33 closed

[2018-11-01 05:40] p0vidl0 opened #35 "v0.6.11 broke some specific schemas"
I use UUID literals nested keys in validation schema its work on 0.6.10 and was broken in 0.6.11.
Simple example code:
[code]

At the moment, I don't have enough time to make a pull request.

[2018-11-01 14:05] andersnm commented on #35
Ahh, this makes me feel bad, I'm sorry! I can make a PR within a few days unless somebody beats me to it.

I believe the main performance improvement in .11 comes from accessing properties directly by name in the generated code. But of course, JavaScript objects are also string-keyed dictionaries, so it should generate different code if the property cannot be accessed directly by name - which incl

[2018-11-01 16:04] #30 closed

[2018-11-02 20:50] revskill10 opened #38 "i18n ?"
Should we predefine i18n messages for all langs , and specify language when doing
[code]
?

[2018-11-03 08:41] #35 closed

[2018-11-03 12:14] icebob commented on #38
It doesn't work. Use similar solution:
[code]

[2018-11-04 17:59] andersonjoseph opened #39 "Numeric string validator."
I was using the validator and I noticed that I can't validate numeric strings. I was trying with:

[code]

So I made a 'numeric String' rule using a regExp `/^-?[0-9]\d*(\.\d+)?$/`

[code]

What do you think? If it can merge it I can write tests and make a PR.

[2018-11-05 20:38] #29 closed

[2018-11-05 20:46] #12 closed

[2018-11-06 10:54] SebastienElet opened #41 "Not compatible with JSON-schema draft 4"
Hello,

It's compared with `ajv` then i tried to make it work on a side project and i discover it's not compatible with JSON schema.

My question is what is the point to compare the speed of two different things ? `ajv` and `djv` works with JSON schema draft 4 & 6 but not `fastest-validator`.

Do you plan to support the JSON schema draft ?
If not, can we have a disclaimer about this point to avoid

[2018-11-08 19:03] lfades opened #42 "Typescript support"
This library is great, I love it!, the only thing I'm really missing is Typescript types, if they can be in the repo, like in [ajv](https://github.com/epoberezkin/ajv/blob/master/lib/ajv.d.ts), even better.

I may be able to work on this in the future if this ends up being my validator of choice.

[2018-11-09 08:57] icebob commented on #42
Thanks. It would be great if you can help with Typescript.

[2018-11-09 11:59] kristijanhusak opened #43 "[Enhancement] Validating uuids"
Hey,

do you plan to add support for validating uuids?

[2018-11-09 17:22] andersnm commented on #42
Possible starting point based on the pseudo BNF in #31:
https://gist.github.com/andersnm/0092addbf5ecb203ff9063bb46e3e27f

Note the comments about the `SchemaType`

Although it would be nice to port the project to TypeScript and not having to maintain the .d.ts

[2018-11-09 18:16] icebob commented on #39
Hello,
could you create a PR?

[2018-11-09 20:31] #39 closed

[2018-11-15 06:04] ozum opened #48 "Benchmarks"
Hi,

It could be good practice to add `fastest-validator` to https://github.com/ebdrup/json-schema-benchmark. It compares popular validators against standard tests.

Also you can reach more people who is looking there.

Kind regards,

[2018-11-25 21:47] lukeed opened #49 "Develop in ESM?"
Hey,

I was thinking – this library could really benefit from developing with ESM. It's small enough to be used in the browser, but can also be cheaply inlined into servers. Load & parse times get quicker, too.

_Very little_ has to change! ...especially since the codebase is already so neatly organized.

The only draw back is that it involves a build step before publishing, which I used to be aga

[2018-11-25 21:53] icebob commented on #49
Hi,

it sounds interesting. Currently, there is a build step before publishing, because rollup bundles the code for browsers. What other tasks should we do?

[2018-11-25 21:56] lukeed commented on #49
Oh, ha! I missed that.

It's just missing a `module` entry (for consumers to continue developing in ESM).

Would you like a PR that addresses this & makes some other build optimizations?

[2018-11-25 21:58] icebob commented on #49
Yes, it would be great!. Thanks in advance.

[2018-11-25 23:39] lukeed commented on #49
Hmm... jest is being a pain in the butt with ESM. There's no require hook exposed.

Are you okay if I use Babel for testing only? The alternatives are to

(a) do a separate CJS build for testing only (preserving individual files)

(b) use a different test framework that exposes the node require hook (so that `esm` can be used)

I generally use tape but don't want to mess with your testing unless y

[2018-11-26 08:49] icebob commented on #49
I would like to keep Jest. But there is jest-babel plugin that it can compile the tests before running.

[2018-12-17 10:13] opr opened #51 "Email with comma"
When validating an email, the following email is considered valid:

james@mail.com,james@mail.net

I feel like this shouldn't be the case as commas are not valid in an email address (only to separate multiple addresses)

[2018-12-17 10:18] opr commented on #51
Fixed by using precise mode.

[2018-12-17 10:18] #51 closed

[2018-12-18 09:08] sittingbool commented on #42
Got you a pull request for it. Let me know if there are any issues with it. I tested it in my project where i started writing my own definitions file for your project. I now tested with all the examples from your README.md and typescript transpiler always finished without errors.

[2019-01-13 21:15] outluch opened #53 "Problems with npm"
I am using moleculer and found that I can use `numeric: true` in string validation. I tried and it didnt work. I investigated that there is version 0.6.12 in my node_modules folder (it is written in package.json). But version it not like in gihub 0.6.12 release. Actually I looked through history of file rules/string.js and found that there is https://github.com/icebob/fastest-validator/blob/f20da3

[2019-01-23 00:19] lukeed opened #54 "Email rule allows undefined"
Passing `undefined` to a compiled schema with `type: 'email'` will not return an error.

Since there isn't an accompanying `empty` option, I would expect `email` to require a value. I would also be happy with an `empty` option so that the rule behaves closer to `string`.

---

I can open a separate issue, but the same applies to the built-in `url` rule.

Thanks!

[2019-01-23 19:06] icebob commented on #54
I've checked but it's working for me.

[code]

**Output**
[code]

[2019-01-28 12:47] intech commented on #43
@kristijanhusak fix, see https://github.com/icebob/fastest-validator/pull/55

[2019-01-28 19:36] #43 closed

[2019-01-28 22:49] intech commented on #28
Diff: https://github.com/icebob/fastest-validator/compare/master...ispyinternet:master

[2019-01-31 23:57] tojacob commented on #41
I think the speed comparison with 'ajv' is correct. Because the speed of validation is being compared, regardless of the "style" or "specification" used.

Of course, if what is needed is to fit the specification, libraries like 'ajv' are the choice.

In conclusion, only the speed is compared, nowhere does it mention that it is compatible with 'JSON-schema draft 4'. They do not compare two differen

[2019-02-05 13:40] ispyinternet commented on #28
I've updated to the new code and opened a pull request.

[2019-02-06 08:50] lukeed commented on #54
Totally my fault, forgot to update 😃

Thank you~!

[2019-02-06 08:50] #54 closed

[2019-02-07 19:38] #28 closed

[2019-02-07 21:35] icebob commented on #43
Released: https://github.com/icebob/fastest-validator/releases/tag/v0.6.14

[2019-02-07 21:36] icebob commented on #28
Released https://github.com/icebob/fastest-validator/releases/tag/v0.6.14

[2019-02-07 21:37] icebob commented on #11
#47

[2019-02-07 21:37] #11 closed

[2019-02-08 15:15] #42 closed

[2019-02-08 15:15] #38 closed

[2019-02-08 15:15] #19 closed

[2019-02-11 09:19] cinghingolo commented on #43
Hey there, I see that uuid type validation and tests were added in the code, but the uuid type is not active yet in `v0.6.14`..
Can you please add the uuid type in the `lib/validator.js` file?

[2019-02-11 12:32] intech commented on #43
this is my error :confused:

[2019-02-13 08:13] icebob commented on #43
Released the fix in 0.6.15

[2019-02-13 09:07] cinghingolo commented on #43
@intech @icebob thanks a lot :)

[2019-02-15 07:38] alexeymarunin commented on #14
Any progress?

[2019-02-16 12:33] anri-asaturov opened #64 "Typedefs are broken"
Typedefs are so broken, guys, please consider disabling them until sensible PR is made.

some examples:
- missing 'empty'
- 'items' can be an object

I'm sure I will find more if i continue looking at api.

[2019-02-20 16:32] akazakou commented on #64
Also not working multiple validators for `validator.compile` method

[2019-03-01 17:20] couellet commented on #64
Definition file looks good in the repo though, but somehow npm package is out of sync :/

[2019-03-01 18:24] icebob commented on #64
Published in v0.6.16

[2019-03-01 18:24] #64 closed

[2019-03-01 20:33] couellet commented on #64
My bad, the defs file wasn't correct after all. I just submit a pull request fixing it.

[2019-03-19 19:40] v1tail commented on #64
https://github.com/icebob/fastest-validator/blob/master/index.d.ts doesn't work with the new release (0.6.16). TypeScript signals an error "An export assignment cannot be used in a module with other exported elements."

[2019-03-20 08:10] akazakou commented on #64
@v1tail Yes. My bad. I fixed it in icebob/fastest-validator#68 PR but it still opened

[2019-03-21 09:35] akazakou commented on #14
I guess it will not be implemented till #44 sanitizers functionality will be available.

[2019-03-26 18:59] njbotkin commented on #16
I've created a fork that is async-only.  Because of the overhead that promises add, I doubt it will ever be in the interests of this library to support async validation.  I'd love to be wrong, though!  https://github.com/njbotkin/fastest-validator-async

[2019-04-08 09:44] soubhikchatterjee opened #69 "Multiple validators - All conditions to true"
Hello

I am using fastest-validator in one of my major nodejs project and I was wondering if its possible to make the "Multiple validators" return true only if ALL the conditions are true. Currently it checks if any one condition is true and returns true if so.

Thanks for the wonderful library.

T&R
Soubhik

[2019-04-08 19:27] icebob commented on #69
Hi @soubhikchatterjee,
it is not available because this feature is planned to handle multiple value types for properties.

[2019-04-10 13:15] sys234 opened #70 "自定义实例默认的message时候，参数替换占位无法去除"
[code]

When validation failed , the method `format` in `util.js`,it will replacing the `%s` `%d` `%j` params ,

in my definition, the field of `types` in `messages` Object,

I just write one param `%s`, I think it just replaced only one params ,not appending  the rest of `args` , as `https://github.com/yiminghe/async-validator/blob/master/src/util.js#L64`

after validation , it actually returns b

[2019-04-18 07:53] sigoden opened #71 "Incorrect typescript type definition"
index.ts
[code]

ts-node index.ts
[code]

[2019-04-25 13:25] ansarizafar commented on #16
@icebob Support for async custom validation will make this library an ideal choice for data validation. Please consider adding this feature ASAP.

[2019-04-25 19:09] icebob commented on #16
To support async validation is a very big breaking change, so I don't think so I will add it to this repo. Better to create a fork under a new repo name and implement async to this new fork, like @njbotkin

[2019-05-01 12:56] omarsafwany commented on #14
Any updates?!

[2019-05-08 15:07] kozikkam opened #72 "Require full object or nothing"
Hey,
I have a validation as follows:
[code]

It should pass in two cases:
1. `{ location: { longitude: someNumber, latitude: someNumber } }`
2. `{ }`

Right now for second case it will throw error, thinking `location.longitute` and `location.latitude` are required.

[2019-06-30 10:04] osher commented on #41
Great job, guys, - but I also would like to request compatibility with json-schema.
I see the structure is mostly similar, but here and there you take "shortcuts" and support aliases.

If you defined yourself as a superset of json-schema - you would have seen this project catch like a wildfire. However - the lack of compatibility denies it from replacing it.

Even partial compatibility - i.e - sup

[2019-07-04 14:05] TriStarGod commented on #72
Is it possible for fastest-validator not to validate undefined properties or at least provide an option for it? Also, is there an option for fastest-validator to return the first error it found without proceeding further?

[2019-07-11 06:26] sargsyanvlad opened #75 "Phone Validation needed"

[2019-07-11 06:45] #75 closed

[2019-07-16 09:23] soubhikchatterjee commented on #69
Thats so sad. I finally had to switch to Indicative Validator (https://indicative.adonisjs.com/guides/master/introduction)

Thanks anyways

[2019-07-23 20:46] stramel commented on #48
Perhaps you can add `nope-validator` comparison to this as well? It is relatively new but is greatly outperforming `yup` while maintaining the same API.

[2019-07-31 19:18] rimitamitra opened #76 "`Access denied` whenever I am trying to push to this repository."
Hi,

I was trying to add a new feature to this project but I am getting a `Access denied` whenever I am trying to push to this repository.
I forked the repo, created a new branch, wrote the code, wrote test cases.
Is there something else that I need to do?

[2019-08-07 10:20] murat-mehmet opened #77 "Type: boolean, equal: true not working"
I need to validate if an boolean field is true:

[code]

result -> true

Am I doing something wrong?

EDIT: seems like there is no 'equal' or 'nonEqual' check in boolean rule

[2019-08-07 11:42] murat-mehmet opened #78 "Feature: Add display name for fields"
Currently this is the message shown:
`The 'firstName' field length must be greater than or equal to 4 characters long!`

We could define a display field to be printed in the message field so it looks better
[code]
`The 'First Name' field length must be greater than or equal to 4 characters long!`

Are you ok with the concept? I could send a PR if you dont mind.

[2019-08-07 20:12] icebob commented on #78
Good idea, please create a PR but please use `displayName` instead of `display`.

[2019-08-08 06:22] murat-mehmet commented on #78
Please check the PR and tell me if anything needs an update. I tested the code and everything seems to work.

[2019-08-10 22:30] atlanteh opened #80 "optional field - prevent null or undefined"
Can we have a prop on the fields that tells the validator to treat null or undefined as values that need to be tested?

I want a string field to optional, but if it's specified, it must be a string and cannot be null or undefined. I was thinking of maybe using a custom validator, but it seems my validator never gets called if the input is null.

[2019-08-12 10:06] icebob commented on #80
`optional: true` ?

[2019-08-12 15:08] atlanteh commented on #80
If I set optional and the field is null or undefined the validation passes. I need it to fail

[2019-08-12 23:56] rimitamitra opened #81 "Either or conditions"
I have an API which takes in two input: userId and email
Is there a way to check if either of them is present or not?

[2019-08-15 07:25] zoheirkhonyagar opened #82 "Add confirm password validator"
something just like this :
[code]

[2019-08-17 21:17] apostololeg opened #83 "Custom validator ignore personalised message"
Hi ✋
I try to use fastest-validator in my projects, but have one major problem at the edge of using custom validators and personalised messages:
[code]
then a get `message: undefined`:
[code]

But expect `message: "Password personalized message!"`. See [codesandbox](https://codesandbox.io/s/musing-forest-yb19b).

It seems related to https://github.com/icebob/fastest-validator/pull/57

[2019-08-21 12:24] icebob commented on #83
Thanks, I will check it

[2019-08-30 13:18] cs4inctec commented on #80
@atlanteh you could use a custom validator: https://github.com/icebob/fastest-validator#custom-validator

[2019-09-06 13:49] jonathanrc opened #84 "Optional if another field has been filled"
Is it possible to set optional or not according to the completion of another schema field? I just need to say whether the field is required or not depending on the other, not to perform a custom validation. Example:

[code]

[2019-09-06 14:46] jonathanrc commented on #84
Something like the requiredIf of Vuelidate:

`field: { required: requiredIf((model) => { return model.type !== 'A' }) }`

[2019-09-10 02:20] xgenvn commented on #82
I don't think this should be a basic built-in validator since this is mostly the higher logic than others. Either we support something like "equalTo" which will be more extendable for many use cases. Or using events/hooks like `post validate` to not having some performance penalties in all cases.  For this case, the example of a CustomValidator instead is preferable.

[2019-09-10 02:24] xgenvn commented on #81
Think this is like a DTO (Data transfer object) validation library, you can do more with it, but don't put too many logics in the schema. In your case, a custom validation can suffice, but I prefer to put the condition in a higher level class (model/service).

[2019-09-10 04:46] kelp404 commented on #82
I have the same problem.
I share the back validations to the frontend app.
I can't use custom field to do that. Because I can't get the value of other fields in the check function.

[code]

[2019-09-10 07:51] zoheirkhonyagar commented on #82
I try CustomValidator but I couldn't get the right response that I want.

[2019-09-10 09:13] xgenvn commented on #82
@zoheirkhonyagar @kelp404
Please see my full example here:
https://codesandbox.io/s/vue-template-m2wgu

The idea is you make a custom validator for confirm password fields as an object.

[2019-09-10 09:26] xgenvn commented on #84
@jonathanrc see my answer in another issue:
https://github.com/icebob/fastest-validator/issues/82#issuecomment-529847645

[2019-09-10 09:37] xgenvn commented on #78
I'm against this, either you use the display as a key (think i18n) or we provide some custom events for extending UI related functionalities. I don't think it's a good idea to make a general validator with some UI logic.
Something like
[code]

[2019-09-10 09:49] xgenvn commented on #76
You are not allowed to push to this repository, only your own forked repository.
Perhaps by accident, you clone this repository instead of your forked repository.
You can point your local git repo to your forked repository as another `remote` and do push:
[code]

And you send merge request to merge into this repository.

[2019-09-11 07:44] #82 closed

[2019-09-30 18:38] #83 closed

[2019-10-02 23:01] ipetrovic11 opened #88 "Optional parameter "trim""
It would be great if there is similar parameter to "strict" called "trim" which will trim all properties that are not defined by schema.

Is it doable?

[2019-10-04 16:40] icebob commented on #88
I think it is not a validation feature but a sanitization feature. And sanitization is not supported currently, because it doesn't return the "modified" object. To implement any sanitization causes breaking change.

[2019-10-25 20:00] icebob opened #92 "[Next] TODO list for the next major version (1.x.x)"
# Fully rewritten codebase
- [x] Entire codebase will be rewritten. Compiler will make the source code of the check function and compile it with `new Function`.

# New `equal` type
- [x] It checks the value equal (`==`) to a static value or another property. The `strict` property uses `===` to check values.

[code]

[code]

# Enhanced shorthand types
- [x] Using rule properties in string shorthand

[2019-10-31 21:33] espi opened #93 "Property '$$strict' of type 'boolean | undefined' is not assignable to..."
[code]

Little hack resolved the issue for me by adding `undefined` type to `interface ValidationSchema`.

[2019-11-06 13:11] campanagerald commented on #93
I encountered the same problem with Typescript

[2019-11-07 20:34] icebob commented on #88
#92

[2019-11-07 20:34] #88 closed

[2019-11-10 15:17] #15 closed

[2019-11-10 15:19] #69 closed

[2019-11-10 15:20] #48 closed

[2019-11-10 15:21] icebob commented on #41
JSON schema won't be supported.

[2019-11-10 15:21] #41 closed

[2019-11-10 15:21] icebob commented on #18
https://github.com/icebob/fastest-validator/pull/94

[2019-11-10 15:21] #18 closed

[2019-11-10 15:21] icebob commented on #14
https://github.com/icebob/fastest-validator/pull/94

[2019-11-10 15:21] #14 closed

[2019-11-10 15:22] #84 closed

[2019-11-10 15:22] #81 closed

[2019-11-10 15:23] #80 closed

[2019-11-10 15:23] icebob commented on #77
https://github.com/icebob/fastest-validator/pull/94

[2019-11-10 15:23] #77 closed

[2019-11-10 15:24] icebob commented on #72
It is not possible.

[2019-11-10 15:24] #72 closed

[2019-11-10 15:25] icebob commented on #71
`import * as Validator from "fastest-validator";`

[2019-11-10 15:25] #71 closed

[2019-11-10 15:25] #78 closed

[2019-11-10 17:51] atlanteh commented on #80
I can't use a custom validator for that. I see in the code that if the field is optional it returns true for undefined even before calling the custom validator. Is there something that I'm missing. I tried getting it to work with custom validator but couldn't

[2019-11-12 11:49] YukiKitagata commented on #93
`0.6.18` don't get this error.

I temporary downgraded to `0.6.18`.

[2019-11-15 02:12] Snelius30 commented on #92
What about some deps? I mean if we have two params and both can be empty but not in same time.

[2019-11-15 03:23] Snelius30 opened #97 "Test against null"
Looks like we can't test inbound param against null cause it arise error like "The field not found" which wrong i think cause undefined !== null

[2019-11-27 13:04] erfanium opened #99 "remove additional params from object in sanitizaters"
I'm using fastest-validator from Moleculer built-in validator.
the output of the validator may have extra additional params.
see this example:
[code]
**this code is not safe** because ctx.params may have extra params. I know there are solutions like ramda.pick or lodash.pick ... , but it's very cool if the validator does it.

something like this:

[code]
or using this different flag:

[code]

[2019-11-30 11:33] icebob commented on #99
The new 1.0.0 version will do that: https://github.com/icebob/fastest-validator/blob/master/CHANGELOG.md#sanitizations

[2019-11-30 20:40] erfanium commented on #99
@icebob thanks!
how can I use it with moleculer?

[2019-12-02 19:50] icebob commented on #99
In the last moleculer 0.14, it is updated to 1.0.0 beta.
In 0.13 here is a sample code: https://repl.it/@icebob/moleculer-validator-100

[2019-12-03 00:08] #99 closed

[2019-12-06 03:27] shhlkien opened #100 "Custom validator for built-in type"
How can I write a custom validate function for built-in type instead of rewriting entire object?
e.g:
[code]

[2019-12-06 17:41] cbwebdevelopment opened #101 "Provide a way to pre-compile the object checkers to run without 'unsafe-eval' CSP directive"
I'm trying to figure out if there's a way to run this without having to include the `unsafe-eval` directive in our Content Security Policy's `script-src`

The issue stems from the `New Function(....)` call(s).  I understand why this is necessary to compile the object checkers, but I was hoping to find a way to generate the compiled checker functions ahead of runtime in our build process, so that I

[2019-12-08 04:31] ajaishankar opened #102 "index.d.ts fix RuleCustom"
Move the indexed field `[key: string]: any` from `RuleCustom` to `RuleCustomInline`

https://github.com/icebob/fastest-validator/blob/master/index.d.ts#L448

This makes sure invalid properties cannot be added to say a RuleString.

`
let r: RuleString = { type: "string", foo: "bar" }
`

[2019-12-12 13:41] ispyinternet opened #103 "Feature request: Return keyed object instead of array?"
Currently you return an array of errors and so if you want to pull out an error for a particular field you need to loop the array or post process it into a keyed object.

I'm wondering if there is any driving reason for the array and whether a keyed object would be a better return value?

[2019-12-12 18:02] icebob commented on #103
You can't always put the errors in an object structure. E.g. you have an array with object which contains array again... or a circular object type....
So array is better. On the other hand, it would cause big breaking change.

[2019-12-15 09:59] ispyinternet commented on #103
👍

[2019-12-15 09:59] #103 closed

[2019-12-20 02:40] dehypnosis commented on #92
what do you think about custom sanitization function feature?

[2019-12-31 11:21] icebob commented on #92
Do you have any idea, how it would work?

[2020-01-01 10:33] josundt commented on #101
An alternative to using the `Function` _constructor_ is to use dynamic `import()` of a **dataURI** containing the source code.

This will require **Content-Security-Policy: script-src data:**, but not **Content-Security-Policy: script-src 'unsafe-eval'**

This technique requires Promise support/polyfill and import() support in browser/transpiler/bundler.

**ajv** probably probably wants no Promise

[2020-01-04 16:42] vadim-shilov opened #105 "Custom validator doesn't work"
I've tried to run an example from documentation :(

version: 1.0.0

[code]
Result:
[code]

[2020-01-05 09:45] icebob commented on #105
Sry, the example is not correct. I will fix it.

It's the correct syntax: https://repl.it/@icebob/custom-validator

[2020-01-05 09:45] #105 closed

[2020-01-08 08:30] JPooban opened #106 "Cannot make custom validator integrate with third party library."
I've tried to use [slugify](https://www.npmjs.com/package/slugify) to make slugify validator, but it not working. Is there any way?

version: 1.0.0

[code]

[2020-01-08 08:53] #106 closed

[2020-01-08 10:38] dehypnosis commented on #92
[code]
For example, above schema validates phone number format by below custom validation rule.

[code]

Above custom rule function returns sanitized value, not the original input.
[code]

Shortly, if just returns modified value from rule function, it is affected to original validation payload.
Isn't it your intended feature?

[2020-01-08 16:39] cbwebdevelopment commented on #101
@icebob Do you have any thoughts on this?

[2020-01-09 10:34] icebob commented on #92
Yes, the rules can modify the value which affects the original payload. This is why the version changed to 1.0.0 because it is a breaking change.

[2020-01-13 08:08] icebob commented on #101
I have no idea how I can add it. So, PR is welcome :)

[2020-01-13 14:39] cbwebdevelopment commented on #101
I'm not sure that I'd be want to allow `script-src: 'data:'` either.  It would be better than `unsafe-eval`, but for the application I'm working on we need to keep a pretty tight CSP.

For others in my position still wanting to use this library and keep a strict CSP, I was able to downgrade to `0.6.10` (the build before the `new Function(....)` performance optimizations were added), and all is wel

[2020-01-18 19:50] mahovich commented on #100
Было бы удобно использовать Пользовательский валидатор таким образом

`const Validator = require("fastest-validator");

const v = new Validator();

const schema = {
  color: {
    type: "string",
    length: 7,
    optional: true,
    check(value) {
      return /^#[0-9a-fA-F]$/.test(value);
    }
  }
};

const validate = v.compile(schema);

console.log(validate({ color: "FAIL" }));
`

[2020-01-20 06:51] ujwal-setlur opened #107 "Incomplete error message when required field is missing"
If I have a schema like:

[code]

and the ```id``` field is not included in the object passed to the validator:
[code]
The error message has a blank string for the field name:

[code]

[2020-01-20 17:11] icebob commented on #107
Thansk, I will check it.

[2020-01-21 22:39] cmnstmntmn opened #108 "Dynamic object keys"
I have a dynamic form, where user can add multiple users - each user component have
a email

[code]

is it possible to validate this kind of object?

i was looking over a [yup implementation example](https://codesandbox.io/s/jm7r0q3oy)

[2020-01-22 08:37] icebob commented on #108
Use the array rule to validate objects in array: https://github.com/icebob/fastest-validator#array

[2020-01-22 10:13] cmnstmntmn commented on #108
@icebob hmm, i don't think this is what i am looking for.

the thing is, i have the following view function - naive implementation

[code]

what i am looking for is a schema to capture all inputs starting with **email-**

[code]

[2020-01-22 17:46] icebob commented on #108
Ahh, I see. It's not available.

[2020-02-01 03:38] kelp404 opened #109 "The result of the custom validator lost a property `field`."
Hello,

Thank you for this open source project. I use fastest-validator on my websites.

I found an issue about the custom validator.
The result of the custom validator lost a property `field`.
[code]
[code]
[code]

It should be:
[code]

<img width="940" alt="截圖 2020-02-01 上午11 28 35" src="https://user-images.githubusercontent.com/1680868/73586353-e9914500-44e6-11ea-90e3-93feb8c0c0a0.png">

[2020-02-01 09:19] #109 closed

[2020-02-01 09:41] icebob commented on #109
Thanks, I've fixed. it will be available in the next version

[2020-02-01 09:42] #70 closed

[2020-02-01 09:42] #92 closed

[2020-02-01 09:43] icebob commented on #97
For this case, you can use custom validator.

[2020-02-01 09:43] #97 closed

[2020-02-01 09:44] #108 closed

[2020-02-01 09:49] icebob commented on #107
It's normal because the whole root `payload` object is missing, so no field value.

[2020-02-01 21:03] ujwal-setlur commented on #107
Ok, but I was hoping the error message would still be a little more clear? Or maybe just say that payload object itself is missing?

[2020-02-04 17:28] TriStarGod opened #110 "Feature request: Currency rules"
Hi,
Great library. I was wondering if you had a money / currency rule and if not, what do you use?

[2020-02-08 20:21] cmnstmntmn opened #112 "React hook form integration not working"
hei,

i'm having the following:

[code]

and my component

[code]

for some reason, is not working and no errors are thrown

[2020-02-10 03:09] vfa-tunq opened #113 "How can allow field nulllabe?"
I have a problem, how can I allow a field nullable. Many thanks.
[code]
[code]

[2020-02-14 04:16] michael-wolfenden opened #114 "Webpack - Critical dependency: the request of a dependency is an expression"
# Issue

When bundling with `webpack` and targeting `node` I get the following warnings:

[code]

# Steps to reproduce

1) Create a directory, initialize yarn, install webpack and webpack-cli

[code]

2) Create `src/index.js` with the following contents:

[code]

3) Execute `webpack` targeting `node`

[code]

4) You should see the following output

[code]

[2020-02-14 07:10] JochenAtWork opened #115 "Fields should not be written back if not changed"
Since version 1 a rule seems (?) to write always back a field after validation - i think this is because of the sanitize / convert concept. This happens even if the value (according to full equality ===) does not change.

We are using [mobx](https://github.com/mobxjs/mobx) / observables in our web application. The validation is run in an optimized / cached (mobx computed) environment which makes s

[2020-03-05 13:41] simon-fraser opened #116 "Introduce optional & empty into more types"
I have found a few scenarios using various types where an optional or empty flag is needed.

For example the types "url" or "email" cannot be empty or optional
Neither can the type string when using a pattern.

[2020-03-05 20:47] imjared opened #117 "Invalid email passes validation"
Was checking this package out as an alternative to yup but the email validation seems a little shaky and misses some cases that yup successfully validates.

I _think_ an email can be considered invalid if the TLD is invalid, such as `gmail.com1`. Other tools seem to support this assumption:
- https://email-checker.net/check
- https://email-checker.net/check

repro: https://repl.it/repls/AttentiveW

[2020-03-05 21:16] imjared commented on #117
Checked the tests for this and saw there was the "mode" option available. Using "precise" validated as expected but IMO it's a little odd that you need to set an option to get (what seems to be) proper validation.

I'll leave this open but feel free to close if this is working as expected. I have a hunch you know a bit more about the ins and outs of validation than I do :)

[2020-03-05 21:44] #117 closed

[2020-03-22 14:33] astrauka opened #121 "Release v1.1.0"
Hey @icebob  :) I have tried to use `alias` function from validator but the function is not defined.
This is because the new version of the package is not released in npm.
Could you release it?

[2020-03-22 17:35] icebob commented on #121
It's released.

[2020-03-22 17:35] #121 closed

[2020-03-30 20:12] FFKL opened #123 "Correct behavior of $$strict and $$root in nested object schema"
Hello! Should `$$strict` and `$$root` works with `type: 'object'` in `props`?
[code]

[2020-03-31 15:03] simlu opened #124 "Feature Request: Validate array ordered"
This is important when e.g. validating GPS coordinate tuples.

Could allow array to be passed for `items` parameter in array?

Please let me know what you think about this addition! Cheers!

[2020-03-31 17:40] icebob commented on #124
yes, e.g.:
[code]

[2020-03-31 18:09] simlu commented on #124
Hello icebob. This is not what I meant at all.

I'm trying to get validation for `[180, 90]` valid, but `[90, 180]` invalid.

[2020-03-31 18:18] icebob commented on #124
I see. It is not available. You should do it with a custom validator only.

[2020-03-31 18:45] simlu commented on #124
@icebob Would you be ok with extending the functionality with an additional flag on the array `exact=BOOL`? After reviewing this I think that's all that would be needed here

[2020-03-31 18:58] icebob commented on #124
And what will be the logic behind `exact`? The `items` will be an array with schemas?

[2020-03-31 19:05] icebob commented on #123
As of 1.x.x the `$$strict` property is removed and a new `strict` rule property has been added to `object` rule. https://github.com/icebob/fastest-validator/blob/master/CHANGELOG.md#sanitizations

The `$$root` property can be used only on the root level object, not on nested objects.

[2020-03-31 20:28] simlu commented on #124
We can already provide an array for items. So it would just ensure
- array length matches items length
- the entries in array validate against corresponding items entries

Schema would look as follows:

[code]

[2020-04-01 15:57] FFKL commented on #123
@icebob thanks, got it

[2020-04-01 15:57] #123 closed

[2020-04-04 01:50] MR-Mostafa opened #125 "How to use fastest-validator in mongoose validate"
Hi,
How can we use this package in the validate method of mongoosejs? (like validator.js or @hapi/joi)

[code]

Using pre-save middleware doesn't seem right. Because it only includes save and create and does not support the rest.
Also, I searched, but unfortunately, I didn't find anything about it.
Sorry for any mistakes. English is not my native language.
Thanks

[2020-04-08 15:42] erfanium commented on #124
@simlu @simlu
We can add a new type named: **Tuple**, like Typescript:
https://www.typescriptlang.org/docs/handbook/basic-types.html#tuple

[2020-04-08 17:49] icebob commented on #124
A new rule type? Or inside `array` type?

[2020-04-09 08:53] #100 closed

[2020-04-09 17:02] erfanium commented on #124
@icebob new rule. like
[code]

[2020-04-09 19:21] icebob commented on #124
I like the second option, it follows the structure of other rules.

[2020-04-11 08:07] Cocophotos commented on #106
Hi @JPooban,

By any chance have you find a way to make it work. If yes, I'm interested in the solution.

Thanks,

Best,

[2020-04-13 22:33] wi-ski commented on #71
This doesnt work for me. Does this work for anyone?

[2020-04-13 22:43] wi-ski commented on #71
[code]

[2020-04-13 22:45] wi-ski commented on #71
[code]

[2020-04-14 18:39] icebob commented on #71
@akazakou do you have any clue?

[2020-04-16 15:51] akazakou commented on #71
@wi-ski @icebob Looks like a bug in ts-node. If we are not using [tslib](https://www.npmjs.com/package/tslib) to handle require functionality, I've also had the same issue. But based on my gist it works fine https://gist.github.com/akazakou/20d4368d087a9d874eecd65f9e8f70d8

[2020-04-16 16:11] akazakou commented on #71
After a deep investigation, I found that it not working without enabled `esModuleInterop` option for ts-node

[code]

[2020-04-23 15:37] joolfe opened #130 "Bug in alias for enum.(posible solution added)"
Hi,

I have found a little bug using alias, to reproduce just:

[code]

Im getting the error

[code]

After debug a bit i have seen that `schema` has the value

[code]

The enum field has been modified for an Object, the problem is in `/fastest-validator/lib/helpers/deep-extend.js` file because is checking object just with `typeof source[property] === "object"` and this is also true for an array.

[2020-04-24 14:15] icebob commented on #130
I think it has been fixed in https://github.com/icebob/fastest-validator/pull/128 but it's not released yet.
Could you check the latest code with `npm i icebob/fastest-validator`?

[2020-04-25 17:13] joolfe commented on #130
Hi!,

I have tested and is still failing, i have put a log in the `deepExtend`  function and show

[code]

Thats basically because the code `Object.keys(v).length > 0;` return true for arrays as:

[code]

I think if this method need to detect Objects only the solution should be `source[property].constructor !== Object` as is the most trustworthy way that i know.

Best Regards.

[2020-04-26 09:20] icebob commented on #130
Yes, it was the first version what @erfanium did in #128 but I said it can cause problem if the object is created as `Object.create(null)`. In this case, it has no constructor.

Any idea @joolfe @erfanium

[2020-04-28 07:30] joolfe commented on #130
In this case i think the easiest solution is to add a `!Array.isArray(source[property])` to ensure is not an array....

[2020-04-28 09:19] icebob commented on #130
@joolfe erfanium fixed in #131. Could you try it again? If it works, I will release a new version

[2020-04-28 19:14] erfanium commented on #102
@icebob I think this issue has been resolved

[2020-04-28 19:20] #102 closed

[2020-04-29 13:50] joolfe commented on #130
Tested and working perfectly, Thanks!

[2020-04-29 16:44] icebob commented on #130
Thanks. I've just released in 1.3.0

[2020-04-29 16:44] #130 closed

[2020-05-03 14:10] erfanium opened #134 "Exit on first error"
This option can greatly increase speed.

[2020-05-04 19:54] icebob commented on #134
It's true, but sometimes it's useful to detect all errors. E.g. on a web form. Better to give all errors than one-by-one. So it can be implemented with a new constructor option.

[2020-05-06 16:13] erfanium commented on #134
@icebob
How do you think we can implement this?
I think by using `throw` keyword in `makeError` and a catch via `try catch`

[2020-05-07 09:32] icebob commented on #134
The throw, try-catch is an expensive operation, I think it will cut down the performance. I'm going to check the source and think out how it can be implemented.

[2020-05-07 20:09] icebob commented on #134
I've checked the code and I think we need to handle it only in `object` rule because it handles the root object as well.
We should place an exit code to here:
https://github.com/icebob/fastest-validator/blob/2893a0e69aa97129e75d21f9354b844641552daa/lib/rules/object.js#L57-L59

Like:
[code]

[2020-05-07 22:24] erfanium commented on #124
@icebob
Can you add `Good-first-issue` tag for this?

[2020-05-11 20:19] mrspartak opened #136 "Can't extend built-in validation for array"
So the example is here https://repl.it/repls/TemporalUnfoldedProcessor
[code]

The custom key is not working. Also, I don't use your library directly, I use moleculer framework and get this error when I put 'custom' key on arrays. On everything else works just fine.
[code]

[2020-05-13 08:07] icebob commented on #136
@erfanium do you have any idea?
It said:
[code]

[2020-05-13 09:10] mihaispataru opened #137 "Custom validator not called on root schemas"
Hi,

i've come across an issue with the custom validator on root object schemas.

The custom validator is not handled when we create a root object schema.

[code]

The result when validating the schema is:

[code]

I've created a repl.it repository with test demo.

[Repl.it Demo](https://repl.it/@mihaispataru/FastestValidatorCustomHandlerIssueOnRoot)

[2020-05-13 09:20] mihaispataru opened #138 "[FEATURE] oneOf flag for object properties"
Hi,

i'm trying right now to handle a scenario to validate an object schema that has all the properties optional, but it is mandatory to have at least one property available for the schema to be valid.

Example:

[code]

I can help with the development if you think that this can be a feature that you to implement. Right now i'm developing this as a custom validator.

[2020-05-13 10:59] #136 closed

[2020-05-13 12:56] #137 closed

[2020-05-13 13:03] icebob commented on #138
Hi,

PR would be great.

[2020-05-13 13:07] icebob commented on #137
Fix is released in 1.4.1

[2020-05-13 13:08] icebob commented on #136
Fix is released in 1.4.1

[2020-05-13 14:13] erfanium commented on #138
@icebob
what about `$or` operator?:

[code]

[2020-05-13 14:20] icebob commented on #138
It can be good but I have no idea how it can be implemented without adding too much complexity to the code.

[2020-05-13 14:28] erfanium commented on #138
@icebob
I totally forgot about current `Multi` rule.
I think It's now possible with it.

[2020-05-13 14:36] icebob commented on #138
Ohhh, really. I've also forgotten it. @mihaispataru it covers your use-case?

[2020-05-13 14:46] erfanium commented on #138
@icebob I think using atomic-operations like `$or` , `$and` are more understandable for users than crating new rules for this. It's Simple to implement, I'm working on it

[2020-05-13 15:19] icebob commented on #138
What is the use-case for `$and`?

[2020-05-13 16:11] HighSoftWare96 commented on #105
@icebob Please update the documentation

[2020-05-13 17:53] mrspartak commented on #136
That was fast! Thanks a lot! Do I need to make an issue on a moleculer repo or release will come a bit later?

[2020-05-13 18:45] icebob commented on #136
No problem.
No need a new release from moleculer. NPM can update in your project, just run an `npm update` in your project.

[2020-05-13 19:37] mrspartak commented on #136
That worked fine.
I am stuck with one more thing. In the docs I see an error argument as second parameter at custom validation. But I get another structure with any type, not only arrays:
[code]

I get this args:
1. is value
2. is the object, that describes validation rules
[code]
3. is a name of the key `distribution`
4. is null
5. is some global object
[code]

So I don't see a way to trigger an

[2020-05-13 20:11] erfanium commented on #138
@icebob Not normally, but it can have.
for example: validating a numbering string that should between 0 and 100

[code]

[2020-05-13 20:30] mihaispataru commented on #138
I've already tried this approach, but it doesn't cover the scenario, because if the we have an empty "status" object the validation will pass. I need the possibility to "force" one of the optional rules. So i need a why to enforce the use of one of "foo" or "foo2" property.

[2020-05-13 20:34] mihaispataru commented on #138
Yes, this approach sounds more suitable. I was actually thinking of the "multi" type with a flag of "$or" or "$and", like the way they handle it in MongoDB queries.

[code]

Or the same flag only for the "object" type.

Unfortunately i haven't had enough time to look over the source code to see which of the features implies less development time.

[2020-05-13 20:56] erfanium commented on #138
It works, no doubt.
Look at this example:

[code]

[2020-05-14 09:14] erfanium opened #139 "Deno support"
We don't seem to have a problem with supporting Deno. but `require/exports` is not supported by Deno. It uses ESM modules with file extension.

@icebob What solution do you have?

[2020-05-14 10:09] icebob commented on #139
I don't know Deno, so I have no idea.

[2020-05-14 11:00] icebob commented on #136
@mrspartak please check it: https://github.com/icebob/fastest-validator/blob/master/CHANGELOG.md#new-custom-function-signature

[2020-05-14 13:24] mrspartak commented on #136
Oh, I see. Now everything works fine!

[2020-05-21 15:03] ThisIsRuddy opened #141 "Custom inline validator not executing | Source data not available in custom validator"
Hi,

I have output all the available parameters when defining a custom validator but I can't find access to the source data anywhere which is preventing me from creating cross-field validations.

Please tell me I'm just blind from staring at data all-day 😂

Below is a basic example coded up but the 'custom' validator does not execute and even if it did I do not see any source data parameters being

[2020-05-21 15:15] icebob commented on #141
Please create a repro example on [repl.it](https://repl.it/@icebob/custom-validator)

[2020-05-21 15:43] ThisIsRuddy commented on #141
I expect there to be something logged to the console from the custom function on the schema but nothing happens? Thanks again in advance

[https://repl.it/repls/RobustSwelteringDevelopments](https://repl.it/repls/RobustSwelteringDevelopments)

[2020-05-21 19:03] icebob commented on #141
It won't work because the `alternateAddress` is not in the target object and it's optional, so the custom check is not called.

[2020-05-21 19:08] icebob commented on #141
You should move this custom function into the root and check the `deliverToAlternativeAddress` flag.
E.g: it can work: https://repl.it/join/zcujtgmt-icebob

[2020-05-21 19:20] erfanium commented on #141
@icebob We can implement  `$$custom` for root.
E.g:
[code]

[2020-05-21 19:30] ThisIsRuddy commented on #141
You have solved my issues thank you!

@erfanium could you elaborate a little please? :)

[2020-05-21 19:37] erfanium commented on #141
@ThisIsRuddy I was discussing about a new feature that simplifies using `customValidator` for root object.

[2020-05-21 20:01] #141 closed

[2020-05-29 10:00] davidxiao opened #144 "deno support has issue"
deno version: 1.0.2

can not bundle as below

Pro-2:libs$ cat fast-validator.ts
import FastestValidator from "https://dev.jspm.io/fastest-validator";

const v = new FastestValidator();
const check = v.compile({
        name: "string",
        age: "number",
});

console.log(check({ name: "Erf", age: 18 }));
console.log(check({ name: "Erf" }));
console.log(check({ name: "Erf", age: "18" }));

Pro-2

[2020-05-29 10:11] davidxiao commented on #144
but pika version works:
`import pkg from "https://cdn.pika.dev/fastest-validator@^1.4.1";

const v = new pkg();
const check = v.compile({
  name: "string",
  age: "number",
});

console.log(check({ name: "Erf", age: 18 }));
console.log(check({ name: "Erf" }));
console.log(check({ name: "Erf", age: "18" }));`

this one has no issue,
pls feel free to close the issue

[2020-05-29 15:46] gcareri opened #145 "Error on custom validator"
Hi,

I'm trying to use custom validator.
I'm using the example provided.

[code]
But unfortunately I receive always the same error:

**errors.push is not a function**

Thanks

[2020-05-29 15:58] erfanium commented on #145
@gcareri
Make sure you are using `newCustomCheckerFunction` , by set this in `FastestValidator` constructor.
[code]

[2020-05-29 17:30] erfanium commented on #144
I have no problem with that
look at this:
[](https://repl.it/join/ygpxjmrx-erfanium)

[2020-06-03 20:52] #139 closed

[2020-06-03 20:53] #145 closed

[2020-06-03 20:53] #144 closed

[2020-06-03 20:53] #138 closed

[2020-06-05 13:56] Gamote commented on #124
@icebob I've created a PR for this #147

[2020-06-05 21:43] Gamote commented on #116
@simon-fraser Do you see any other types that needs the `empty` or `optional` property?

[2020-06-06 22:50] simon-fraser commented on #116
Great start @Gamote, I cannot say that I uncovered any other types with this issue.

[2020-06-09 17:41] Gamote commented on #124
@icebob #147 PR should solve this issue, can you close it?

[2020-06-09 17:41] Gamote commented on #116
@icebob #149, #150 and #151 PRs should solve this issue, can you close it?

[2020-06-09 18:19] Gamote commented on #112
@cmnstmntmn You have multiple things that set you far away from your desired outcome. From what I guessed, the `useForm` is coming from `react-hook-form` library. Now, if you read their documentation you will find the next sentence: **`React Hook Form currently supports Yup for object schema validation.`** ([source](https://react-hook-form.com/api/#validationSchema))

This being said, what are you

[2020-06-09 18:43] Gamote commented on #113
@vfa-tunq You can use the `optional` property like this:

[code]

The problem with this is that you'll receive `true` as well if the `name` field is `undefined`. If you are looking for a way to require the field but allow it to be `null`, there's none at the moment.

[2020-06-09 19:26] #124 closed

[2020-06-09 19:26] #116 closed

[2020-06-09 19:27] #112 closed

[2020-06-10 14:29] yantrab opened #152 "Optional not working on array items"
[code]

v.validate({ list: [2, 4, undefined, null] }, schema); // Fail

[2020-06-10 20:34] #152 closed, assigned to nobody

[2020-06-10 22:13] erfanium opened #153 "Transformer proposal"
`fastest-validator` actually is a code-generator, I really like code-generators because they are zero-cost tool, like macros, but FV compiles the generated codes at runtime (via `new Function(...)`) And I'm worried about that. #101

We can make a transformer (like babel transformer plugins) to generate and transform the codes, in pre-exec time. It's more safe & wise.

Any comments?

[2020-06-11 06:51] icebob commented on #153
could you explain how it can work?

[2020-06-11 10:38] erfanium commented on #153
Imagine this code before compile:
[code]

after compiling (via babel or etc...):

[code]

[2020-06-11 20:40] Gamote opened #154 "Outdated `Repl.it` code"
@icebob In the [`README.md`](https://github.com/icebob/fastest-validator/blob/master/README.md) > [`Simple method`](https://github.com/icebob/fastest-validator#simple-method) section there is this link: [Try it on Repl.it](https://repl.it/@icebob/fastest-validator-simple#index.js).

Can you please update the output of this line:
[code]

From:
[code]

To:
[code]

[2020-06-12 15:20] shawnmcknight opened #155 "Custom rules not always running when multiple rules are set"
Trivial example:
[code]

When running the example, the custom validator should fire a total of 4 times - twice each for the `single` property and `multi` property.  However, it is only firing 3 times - twice for the `single` property, but only once for the `multi` property.  It is firing for `multi` when an array is provided in the data (second `check` call) but it is not firing when a string is p

[2020-06-14 13:58] erfanium opened #157 "Review my code"
@icebob
I solved this issue #155, but I accidentally pushed this https://github.com/icebob/fastest-validator/commit/e20fa7085e78669b99d136b2a0a36d503fbcf932 commit into `icebob/fastest-validator` instead my fork -> PR.
I don't know how to revert it without create an another commit, so please check that commit changes or revert that commit.

Sorry😬

[2020-06-14 19:02] icebob commented on #157
No problem, but in the future, please push codes in a different branch and make a PR that I can check it. 👍

I will check it later, but LGTM at first sight.

As I see, The custom check function moved from rules to common validator?

[2020-06-14 21:15] erfanium commented on #157
@icebob yes,
and rules custom functions now addressed by `ruleIndex` instead of `pathName`, because sometimes some rules can have same `pathName` but with different custom check function. (for example in `multi` rule, every child rule has same `pathName`).

[2020-06-14 21:26] erfanium commented on #155
@shawnmcknight
This bug most likely solved in https://github.com/icebob/fastest-validator/commit/e20fa7085e78669b99d136b2a0a36d503fbcf932 commit.

Can use test it again?
thanks

[2020-06-15 14:35] icebob commented on #154
Thanks, fixed.

[2020-06-15 14:35] #154 closed

[2020-06-15 18:52] icebob commented on #155
After https://github.com/icebob/fastest-validator/commit/e20fa7085e78669b99d136b2a0a36d503fbcf932 it prints:
[code]
Is it correct? @shawnmcknight said it should call 4 times.

[2020-06-15 19:11] icebob commented on #155
@erfanium I talked with @shawnmcknight about it. The 5 calls are correct, so there is only an issue with the `value` parameter in custom function. I made a test for this issue.

[2020-06-15 20:14] benjick opened #158 "Generate full schema"
Is it possible to generate a full schema from the supplied one?

I'm thinking something like this:

[code]

result:

[code]

[2020-06-15 20:18] icebob commented on #158
Try it. https://repl.it/@icebob/fastest-validator-convert
But please note, it is not a public method, so maybe it can be changed in the future.

[2020-06-15 20:21] icebob commented on #153
And can you create it for e.g. Babel?

[2020-06-15 20:22] benjick commented on #158
@icebob thank you! Just what I needed 🙏

[2020-06-15 20:22] #158 closed

[2020-06-15 21:10] benjick opened #159 "TypeError: v.alias is not a function"
When trying to add an alias I get this error: `TypeError: v.alias is not a function`

[code]

REPL: https://repl.it/repls/EasygoingCumbersomeProgrammers
Version: 1.4.2

[2020-06-15 21:16] erfanium commented on #159
Check your package.json:
[code]
You are using v1.0.0

[2020-06-15 21:21] benjick commented on #159
@erfanium thank you, I was tricked by the REPL UI 🤦

<img width="228" alt="Skärmavbild 2020-06-15 kl  23 20 06" src="https://user-images.githubusercontent.com/430872/84707350-d4312a80-af5e-11ea-8bd7-a3beaeedc9fc.png">

[2020-06-15 21:21] #159 closed

[2020-06-15 21:31] erfanium commented on #155
@icebob
Thanks👍 but in future, Please don't add failed test in master, because CI is fail now until we fix this.

[2020-06-15 22:18] erfanium commented on #153
@icebob
I haven't done that yet, But it is possible!

[2020-06-16 07:44] icebob commented on #155
That was the goal, that we see something is wrong in the master branch :)

[2020-06-16 08:00] #157 closed

[2020-06-16 08:00] #155 closed

[2020-06-16 08:11] icebob opened #162 "Defining aliases in constructor"
Would be good to make that we can define aliases in the constructor options. The reason is that we can set it in ServiceBroker options of Moleculer.

Proposal:
[code]

And I will change the Moleculer side and we can use it as
[code]

[2020-06-16 09:04] erfanium commented on #155
@icebob
It's not a good idea, because If someone else wants to create a PR, He/She has to fix this test as well.

[2020-06-16 09:09] erfanium commented on #162
What about `v.add(...)` ? adding a new rule

[2020-06-16 09:41] icebob commented on #162
Yeah, good idea, we can also add it as `customs: {...}`

[2020-06-16 09:42] icebob commented on #155
Ok, you are right.

[2020-06-16 13:47] #162 closed

[2020-06-19 10:27] JMS-1 opened #165 "BUG: string with pattern and empty not set: intentional breaking change?"
Our rule is (simplified here) {type:"string", pattern:"^\d+$"} which in 1.4.2 rejects empty strings. Now with 1.5.0 empty strings are allowed which breaks our app!

`...
			if (${schema.empty} !== false && len === 0) {
				// Do nothing
			} else {
				${patternValidator}
			}
...`

For a **pure string validation** **not setting empty** will allow empty strings which is a good (an non-breaking) de

[2020-06-19 12:58] erfanium commented on #165
@JMS-1 You can use defaults configs for fix this issue quickly now:
[code]

[2020-06-19 13:00] erfanium commented on #165
@icebob How we deal with it?

[2020-06-19 13:05] erfanium commented on #165
@icebob As I said before, it's better to not accept empty strings by default, because In most cases, empty strings are not desirable

[2020-06-19 13:24] JMS-1 commented on #165
well as you might imagine there a couple of other type: "string" validations so a global default is not an option. but yes: this is what I did for all validations using pattern: "..." - nasty point is that in case of an empty string there are two ValidationError entries which messes a bit with the generic edit form and error reporting therein. But for the moment it's good enough - better that writ

[2020-06-19 13:25] JMS-1 commented on #165
In general I would I agree but especially in our case we have a couple of strings which have fallbacks. So not setting a string at all which gives the fallbacks differs a lot from having an empty string.

[2020-06-19 15:50] icebob commented on #165
@JMS-1 Thanks for the report. The problem is that, if we change the empty: false by default, it means breaking change again. We can solve it if we revert this commit: https://github.com/icebob/fastest-validator/pull/149/commits/3fd9275af81581fa8376e3915307f24c8ee396c2

[2020-06-19 17:09] #165 closed

[2020-06-19 17:27] icebob commented on #165
Fix released in 1.5.1

[2020-06-21 18:18] fider-apptimia opened #168 "Recursive/reference schema compilation error"
Version:
"fastest-validator": "^1.5.1"

Below code:
[code]

Throws error:
Invalid 'undefined' type in validator schema.

**HINT - when using module [fastest-validator-modified-test](https://www.npmjs.com/package/fastest-validator-modified-test) @ 0.8.18** all is ok and **check** function is working as expected.

[2020-06-21 20:10] erfanium commented on #168
@fider-apptimia It's not a recursive Object, Your schema is incorrect, You can use `$$strict` only when `$$root` is `true`, so you should use `strict` key in super-object instead:
[code]

[2020-06-21 20:15] erfanium commented on #168
@icebob May we add better and more eloquent error-handler for this

[2020-06-21 20:45] erfanium opened #169 "TS Decorators"
Like https://github.com/typestack/class-validator

[code]

[2020-06-22 07:43] icebob commented on #168
Yeah, we should throw a correct message, that the $$strict can be used in the root level with `$$root: true` property.

[2020-06-22 07:45] icebob commented on #169
It will be inside this project or a different project like `fastest-validator-decorators`?

[2020-06-22 11:21] erfanium commented on #169
@icebob It's pretty simple to add this feature in this project, But I have to add `reflect-metadata` dependency (for define metadata in class). so may better it will be inside a `Plugin`.

[2020-06-22 11:29] fider-apptimia commented on #168
Thanks for quick response.

Basing on above example, Is there any way to compile validator for schema `theA` and `theB` in $$strict mode assuming that as `props` I will use reference to `theA`?

[2020-06-22 11:51] erfanium commented on #168
@fider-apptimia Why don't you use `aliases` instead? I don't understood why you are using `Object.assign` , ....

[2020-06-22 13:51] #93 closed

[2020-06-22 15:15] fider-apptimia commented on #168
I was not aware of `aliases`, thank you for hint, but it not helped.

I am generating validators from custom language code like below:
[code]

Generated output:
[code]

Any ideas how to achieve it? How to ensure `$$strict` and be prepared for references and self references?

[2020-06-22 16:29] erfanium commented on #168
@fider-apptimia
Cool, I think you are compiling the code with the wrong logic, for example:  `schemas['theA']` is not a valid schema, because It has no type. I suggest you to compile like this:

[code]

[2020-06-22 17:45] icebob commented on #169
Ohh. I want to keep FV to be dependency-free. In this case, the decorator should be created in another repo.

[2020-06-22 18:00] erfanium commented on #169
@icebob Maybe It can be done by using `WeakMap` instead of `reflect-metadata`

[2020-06-22 22:03] fider commented on #168
Great, thank you.

Regards!

[2020-06-22 22:40] erfanium commented on #168
@fider Thanks
Can I close this issue?

[2020-06-23 10:25] fider-apptimia commented on #168
Closing now (previous comment is my priv account).

Regarding compiler, I am working on language for web services definition.
It is in early development stage, I will publish first version in 2 months (need a lot of stuff to do like documentation, VSCode syntax higliht plugin, html generator for api, browser api client generator and some other features for beta release).

Briefly, something like b

[2020-06-23 10:25] #168 closed

[2020-06-23 12:56] erfanium commented on #168
@fider-apptimia Why you don't use Typescript decorators? #169 It's much easier to create a new language.

[2020-06-24 07:29] R3VoLuT1OneR opened #170 "TypeScript usage example."
Hi, thank you for great library.

I am wondering how people use the library with TS.

If I do `import FastestValidator from "fastest-validator"` then in typescript FastestValidator defined as class.
But actually it is undefined after compile.

If I do `import * as FastestValidator from "fastest-validator" then I got next error when I try "new FastestValidator()"
[code]
But aftest tsc compile "Fast

[2020-06-24 08:57] erfanium commented on #170
I have no problem with this code!
[code]

[2020-06-24 17:05] R3VoLuT1OneR commented on #170
@erfanium I doing next:

[code]

I got:
[code]

@erfanium Can you please share your `tsconfig.json` please.

[2020-06-24 17:13] fider-apptimia commented on #168
@erfanium I am compiling Svc directly to JS and separately creating .d.ts files with interfaces when required.
I wanted to avoid compilation to TypeScript and then next compilation to JS.

Btw. idea of compilation from Svc to TypeScript is nice because tsc compilation will introduce additional test layer for code generators.

[2020-06-24 17:13] erfanium commented on #170
[code]

[2020-06-24 17:16] erfanium commented on #170
@R3VoLuT1OneR What's happen if you run you code via `ts-node`?

[2020-06-24 17:19] R3VoLuT1OneR commented on #170
@erfanium With `ts-node` it is working. It is working with `esModuleInterop: true`.

[2020-06-24 17:23] erfanium commented on #170
@R3VoLuT1OneR So can I close this issue?

[2020-06-24 17:28] R3VoLuT1OneR commented on #170
Yeah, I am closing it.

Another option if someone got it use: `"allowSyntheticDefaultImports": true`

[2020-06-24 17:28] #170 closed

[2020-06-24 22:28] erfanium opened #171 "Deno + TS => Doesn't work"
Because `jspm.io` doesn't support typescript, so types will not be included.
If anyone has an idea, offer it

[2020-06-26 08:01] giovanni-bertoncelli opened #172 "Nested Convert does not work."
I'm using this package with Moleculer. Specifically I'm using the `^1.5.1` version of fastest-validator. When I try to specify this kind of item in the validator:
[code]
an array of this kind:
[code]
passes the validation without getting the `"2"` converted to number...
Without `convert` the item gets correctly refused.

[2020-06-28 21:15] erfanium commented on #172
@icebob I don't have free time for a short time, If you can, follow this up. Thanks!

[2020-06-29 14:33] giovanni-bertoncelli opened #173 "Add AdditionalProperties?"
Is there a way to specify additional properties for an object? Like this:
[code]

so I can validate an object like this:
[code]

[2020-06-29 18:52] erfanium commented on #173
@giovanni-bertoncelli Currently not ,But you can use custom validator for this case.

[2020-07-01 14:32] hummingbirdcommerce opened #174 "[Question/Bug?] Trim: true is a noop for type: email (and pattern)"
Hi @icebob,

Firstly, thank you for this great, high-quality library. Fantastic to see a zero-dependency 100% test coverage library in the JS ecosystem!

The following may not be an issue, but I just wanted to check if the below is intended behavior for the library. If it is, I can help clarify with a documentation tweak PR or, if it's not intended, I can help implement a fix.

In the email tests

[2020-07-01 14:51] erfanium commented on #174
@hummingbirdcommerce You should use `normalize` property: https://github.com/icebob/fastest-validator#email

[2020-07-01 15:02] hummingbirdcommerce commented on #174
@erfanium perfect, thank you for the pointer and quick response! That does indeed work as expected :) Closing this comment. Thanks again!

[2020-07-01 15:02] #174 closed

[2020-07-01 16:52] icebob commented on #172
OK, I will check it.

[2020-07-03 07:18] giovanni-bertoncelli commented on #173
Ok, in the end I've used that... Should I close this or can it be a useful feature?

[2020-07-05 11:19] yinz13 opened #175 "tuple item dosent support default and optioanl"
default
[code]

[code]

optional
[code]

[code]

[2020-07-16 20:24] ishan-srivastava commented on #110
@erfanium I just stumbled upon this awesome lib.
Mind if I take this issue?

[2020-07-16 21:03] erfanium commented on #110
@ishan-srivastava Yes, You can start a pull request

[2020-07-17 22:02] ishan-srivastava commented on #110
@erfanium I have added the PR, please have a look.

[2020-08-24 11:08] SockeThe2nd opened #184 "TypeError when using type: "any""
I am getting `TypeError: context.fn[1] is not a function` when using type any.

I condensed my code down to the example below, which still throws an error.
[code]

When using a different type instead of "any" (like "string"), the example works as expected. Additionally, when defining the schema directly (see below) the any-type works as well.

[code]

[2020-08-24 11:48] erfanium commented on #184
@icebob Found it, I'll fix it

[2020-08-24 11:58] icebob commented on #184
Thanks, @erfanium

[2020-08-24 13:51] erfanium commented on #184
@SockeThe2nd This problem was most likely solved, Can you text again?

[2020-08-24 14:08] SockeThe2nd commented on #184
@erfanium Can confirm. My code above works with the current master-branch. Thank you very much for the quick fix.

[2020-08-24 14:08] #184 closed

[2020-08-26 12:12] erfanium opened #186 "Generate documentation from FV schema"
It would be great to convert FV schema to documentation (e.g: markdown file)
[code]
and the output:

Name | type | Description
---- | ----- | --------
`index`  | number | Plan order index
`name` | string |
`price` | number | min: 10
`durationDays` | number |
`image` optional | string |
`description` optional | string |
`priceBeforeDiscount` optional | number |
`isFeatured` optional | boolean | def

[2020-08-26 16:44] icebob commented on #186
Yeah, good idea. But in a separated repo.
I don't understand the `parsedSchema` thing.

[2020-08-26 17:44] erfanium commented on #186
@icebob Yes, Most parts will be developed in a separate repo.

[2020-09-04 20:40] #110 closed

[2020-09-06 23:10] intech commented on #175
I would call this a critical bug. The `empty: true` rule won't work either, we need to fix the list of properties that should be checked at the top level of the rule.

[2020-09-09 08:23] icebob commented on #175
@Gamote could you help with this issue?

[2020-09-10 08:03] Gamote commented on #175
@icebob yes, I'll do a PR with the changes soon

[2020-09-10 16:57] erfanium commented on #113
@JHawkley I have a generic idea, something like this:
[code]
So we can allow everything we want, not just `null`

[2020-09-10 17:00] erfanium commented on #113
Another idea:
‍‍‍```js
schema = {
   foo: {
      type: "string"
      pre(value , skip){
         if (value === null) return skip(value)
         return value
      }
   }
}
[code]

[2020-09-10 19:53] intech commented on #113
@erfanium I looked at the logic `equal` and I think that we could modify it so that not for all types to use the serialization `JSON.stringify()` and then not lose strict comparison for `null`.

[2020-09-10 20:25] erfanium commented on #113
@intech When we can offer a more complete solution with a little change, why not?
I think `multi` rule is not a good idea for this little problem, This complicates the story, and it has a performance penalty (because it will execute two more rules)

[2020-09-10 20:39] intech commented on #113
@erfanium You can add the rule, but so far I have not been able to come up with a single case of using this rule.
I agree with your arguments.

[2020-09-10 21:01] erfanium commented on #113
@intech @JHawkley
In my opinion, @JHawkley 's idea is more appropriate now, we can have `nullable` property along with `optional`

### Just `nullable`
[code]

###  `optional` with `nullable`
[code]

[2020-09-12 21:42] erfanium opened #189 "Should we call custom checker function, when value is `undefined` and field is `optional`?"
Consider this Code:
[code]
Currently, the function is called.
Should `custom` function to be called? I don't think so

[2020-09-13 07:44] icebob commented on #113
@erfanium I like the `nullable` solution. It should be checked in the common "require/optional" code parts and maybe it will work in all rules.

[2020-09-13 08:20] icebob commented on #189
Hmm, good question. The logic will be if we shouldn't call it but I don't know somebody uses it with the current logic.

[2020-09-13 10:54] erfanium commented on #113
@icebob
The problem with current logic is that you should always write this piece of code in `custom` function : `if (!value) return value`, Most of the time I forget this.

We can release v2.0.0, I think we should do the right thing and not get involved in backward compatibility.

[2020-09-13 10:56] erfanium commented on #189
@icebob
The problem with current logic is that you should always write `if (!value) return value` piece of code in `custom` function, Most of the time I forget this.

We can release v2.0.0, I think we should do the right thing and not get involved in backward compatibility.

[2020-09-14 16:02] icebob commented on #189
My problem with major versions, that I can't update it in the Moleculer just in the next major version. A more friendly way can be a Validator option (e.g. `dontCallOptionalCustomWithoutValue` maybe should a better and shorter name) which turn on/off the current/new logic. And if the default value is the current logic it doesn't cause breaking change.

[2020-09-14 18:01] erfanium commented on #189
@icebob I did not work with Moleculer much, but it is better to give the user the option to choose which version of FV to use. 1.7.0 for default

[2020-10-01 01:30] mtcarvalho opened #192 "boolean field must be true"
I am passing one Laravel project to Moleculer.js. Now, I have to pass the Laravel [accepted](https://laravel.com/docs/5.0/validation#rule-accepted) field to Moleculer.js using fastest-validator. Is there any built-in validator that already does this? I didn't found in docs.

[2020-10-01 11:49] erfanium commented on #192
@mtcarvalho There's no such feature, but you can make your own custom rule https://github.com/icebob/fastest-validator#custom-validator

[2020-10-01 11:51] erfanium commented on #192
I personally don't like this, because JSON explicitly supports Boolean and there is no reason to use a number or string instead

[2020-10-02 12:53] icebob commented on #192
Use the `equal` rule: https://github.com/icebob/fastest-validator#equal

[2020-10-04 02:30] mtcarvalho commented on #192
thanks @icebob, this rule is exactly what I need

[2020-10-04 02:30] #192 closed

[2020-10-05 14:46] erfanium opened #193 "Show warning on bad schema"
If there is a problem with the schema, the validator currently only ignores it, and does not show any message. for example:
[code]
Although the shorthand has a problem (used = instead of :), I didn't get any errors!
or something like:
[code]
FV should show a warning because "foo" is not a valid for string rule!

@icebob
What you think? Is an error better or a warning?

[2020-10-07 08:56] icebob commented on #193
But FV doesn't know that `foo` property is not used, because you can use custom check functions where you use it.
So if we want to strict the properties, it can be only an extra feature option in the constructor instead of a permanent feature.

[2020-10-07 09:47] erfanium commented on #193
@icebob
Yes, `strict` option is good

[2020-10-07 15:55] intech commented on #186
@erfanium hey! Any news?

[2020-10-07 19:33] erfanium commented on #186
@intech I did some things, but a little more complicated than I thought (due to the structure of FV).
First we need an API for FV that returns parsed schema (That the document-generator can turn it into a document). this is the hard part!

[2020-10-07 21:38] intech commented on #186
@erfanium describe how you see it working, what the inputs and outputs. I will help with the implementation.

[2020-10-07 23:07] erfanium commented on #186
for example:
[code]
unwrapedSchema to be:
[code]

[2020-10-07 23:10] erfanium commented on #186
@intech
Of course, I really don't know what the proper name for this function is! Do you think `unwrapSchema` or `parseSchema` are good?

[2020-10-08 01:06] intech commented on #186
As for the name, I think `parseSchema` or `parse` is logical.

I sketched the code, it still needs to be tested on nested structures.
By the way, in it I used your function, which is not yet in the release.
Am I in the right direction?
https://gist.github.com/intech/eabd6ef917852fea9a2112e675a9068f

[2020-10-08 11:08] erfanium commented on #186
@intech Yes, But this `parse` function needs to be in `fv-schema-parser` module, because `FV` itself doesn't use it.

[2020-10-08 11:18] erfanium commented on #186
@intech
Move your codes here: https://github.com/erfanium/fv-document-generator

[2020-10-08 11:44] intech commented on #186
@erfanium okey, I'll move this code to the repository and revise it to normal tests

[2020-10-10 09:35] icebob opened #195 "Form generator from FV schema"
Similar to #186, I would like to create a frontend module which can generate HTML forms based on the FV schema because it contains every information about the type of fields, valid values, default values, validators...etc. And before submitting I can use FV to validate the values.

But to create it, I need a method which resolves (shorthand formats) the FV schema to a full JSON.
@erfanium I think

[2020-10-10 10:16] erfanium commented on #195
@icebob
https://github.com/icebob/fastest-validator/blob/master/lib/validator.js#L331
Isn't this what you are looking for?

[2020-10-11 07:43] icebob commented on #195
Yeah, something similar, but would be good a function which traverse the whole schema and convert all of them. And I need another one which creates an object with the default values.

[2020-10-11 11:34] intech commented on #195
@icebob the first one I am working on in a separate repository. At the moment I stopped at solving problems with the properties `$$type` and `$$root`. I still need to improve the logic when parsing the schema recursively.

[2020-10-11 11:35] intech commented on #195
With default padding, the fields are easy to implement if you add default values ​​directly to the rules.

[2020-10-18 08:44] #113 closed

[2020-10-31 22:07] erfanium opened #198 "`equal` rule should be confident"
We may sometimes want to validate a secret value, currently this rule will reveal this value in error's `expected` field!

[2020-10-31 22:11] #198 closed

[2020-11-11 18:16] mfbx9da4 commented on #108
You can do this with a custom validator. Not sure if it's efficient though

[code]

[2020-11-15 06:09] hemedani commented on #170
Deno does not support both of `allowSyntheticDefaultImports ` and `esModuleInterop `.
throwing this error :
[code]

[2020-11-15 06:12] hemedani commented on #144
I have the same issues and this `cdn` fix the problem : `https://cdn.pika.dev/fastest-validator@^x.x.x`

[2020-11-15 09:58] erfanium commented on #170
@hemedani Would you like to create a PR for this?

[2020-11-15 22:09] uasan opened #200 "Support Nil UUID"
Hello.
Nil UUID is not currently supported, but it is a valid value:
https://tools.ietf.org/html/rfc4122#section-4.1.7

Are these validator behaviors by design?
If yes, then maybe  to allow, if add new bool property `zero` or `nil`

[code]

Thanks.

[2020-11-15 23:38] intech commented on #200
@uasan greetings! In which case may you need to validate different uuid versions?
I suggest just adding version 0 and specifying it in the validation rule. Is this an option?

[2020-11-16 00:13] uasan commented on #200
No ), for me case, rules validate UUID values of version: 4 or 5 or Nil UUID.
Nil UUID - this is one exceptional value, that should not be limited to versions.

[2020-11-16 00:20] intech commented on #200
@uasan everything is fine, I didn't immediately remember that I determine the version from the uuid itself, so it doesn't matter which one to transfer.
Now I will correct the tests and wait for the merge. After that there will be support is nil uuid.
And thanks for the good point! It is important to maintain rfc.

[2020-11-16 14:04] icebob commented on #200
Published.

[2020-11-16 14:04] #200 closed

[2020-11-16 15:39] JMS-1 opened #202 "BUG: "SyntaxError: Identifier 'res' has already been declared" when multiple custom rules are used"
Seems as if the code regenerator tries to reuse a const res.

[code]

seen in 1.8.0 and 1.9.0.

Full error stack running node &lt;code from above&gt;:

[code]

Works fine when one of the custom rules is removed.

[2020-11-16 15:40] JMS-1 commented on #202
Quick fix if too complicated: use var instead of const (will make many javascript programmers really sad ;-) ).

[2020-11-16 18:19] erfanium commented on #202
@JMS-1 Do you need a quick fix? I have a better idea but it may take a while

[2020-11-16 18:44] JMS-1 commented on #202
For now I have a solution for this very problem - not very elegant but it works. have a real fix some day would be nice.

[2020-11-25 08:27] mustafasencer opened #204 "How can I integrate swagger with fastest-validator"
I would like to integrate a swagger (openapi) documentation in Koa using the fastest-validator schemas. Does anybody have an idea or suggestion on how I can smoothly incorporate swagger with my validation schemas? Any suggestion is welcome, and thank you in advance 🙏

[2020-11-25 13:32] #202 closed

[2020-11-26 16:55] FroxTrost opened #205 "Out of the box support for Express"
🙌🏼 First of all thanks for the awesome library. 👏🏼
I"ve used fastest-validator in a couple of my past projects and It has been a wonderful experience.

Lately, I've been working with [Express](https://github.com/icebob/fastest-validator/issues/new) and thought of using fastest-validator as a lib to validate requests.
I used the fastest-validator as a middleware to validate the API requests and it

[2020-11-26 21:40] erfanium commented on #205
You can create a express middleware in separate repository, (I have done this for Fastify before: https://github.com/erfanium/fastify-fv)

[2020-11-27 11:55] FroxTrost commented on #205
Sure, will create a separate repo for it.
Thanks

[2020-12-02 14:41] #205 closed

[2020-12-02 14:41] #134 closed

[2020-12-02 14:43] erfanium commented on #153
I'm closing this because it's not easy😁

[2020-12-02 14:43] #153 closed

[2020-12-23 09:00] hadasmeitav opened #208 "How can i xor fields on my schema"
say i have a schema :
[code]
I'd like to have the ability to have a xor between those 2 fields.
For example, if field1 > 0, i want to validate that field2 > 0.

I'd expect something like a shared rule between the fields, but i couldn't find reference to fields combination rules.
[code]

Any one knows if this is possible using this library?
I see that [this pr](https://github.com/icebob/fastest-val

[2020-12-23 19:06] valeeum opened #209 "Labels In Error Messages Instead of Property Names"
Here is an example of current error message:

`The 'email_address' field must not be empty.`

Is there a way to pass field label into schema so the error message is displayed like so:

`The 'Email Address' field must not be empty.`

I know we can use custom messages for each field but curious if there's a lazier approach here :)

[2020-12-23 19:20] erfanium commented on #209
Hi
I think displaying  `label` in APIs instead of real property name is not good idea in general. What is the main reason you need this feature? Do you use fastest-validator from server-side?

[2020-12-23 19:23] valeeum commented on #209
@erfanium

For this particular use case, I'm using it client side for form validation.

![image](https://user-images.githubusercontent.com/1195356/103030746-4176d700-4511-11eb-95fb-9cce73624b5d.png)

[2020-12-31 10:33] icebob commented on #208
Currently it is not available, only with custom rules.

[2020-12-31 10:34] icebob commented on #209
Workaround: use custom `messages` in the rules.

[2020-12-31 22:31] erfanium commented on #209
@icebob It's not a good solution, for example look at string rules messages:

Name                | Default text
------------------- | -------------
`string`	| The '{field}' field must be a string.
`stringEmpty`	| The '{field}' field must not be empty.
`stringMin`	| The '{field}' field length must be greater than or equal to {expected} characters long.
`stringMax`	| The '{field}' field length must

[2021-01-05 08:25] slidenerd opened #211 "Email min max?"
- First of all thank you for the fantastic work on this library
- As per [THIS](https://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address) discussion, it seems email seems to have an upper limit of 320
- But currently min and max properties dont work with email
- Would it be possible to do something about this
`
var s = {email: {type: 'email', min: 3, max: 320,

[2021-01-05 19:58] icebob commented on #211
Yeah, good idea to implement min/max param for "email" rule. Could you create a PR?

[2021-01-15 00:44] rulatir opened #212 "Combine multiple validators with optional?"
Is it possible to express the idea that a field is optional, but when it is present then it must satisfy one of multiple validators?

As I understand the docs, the property descriptor can either be an object (representing a single validator that can have "optional" field) or an array (containing multiple such validators). In the latter case there seems to be no way to "attach" the optionality info

[2021-01-18 16:42] icebob commented on #212
You can use two ways:

[code]

or
[code]

[2021-01-18 19:52] rulatir commented on #212
Thanks, I missed `"multi"` somehow.

[2021-01-18 19:53] rulatir commented on #212
Thanks, I overlooked `"multi"` somehow.

[2021-01-18 19:53] #212 closed

[2021-01-19 15:02] #125 closed

[2021-01-27 19:42] #211 closed

[2021-02-07 20:22] lastqubit commented on #171
Did you find a solution?

[2021-02-07 21:12] erfanium commented on #171
@lastqubit
You can check https://github.com/icebob/fastest-validator/issues/144#issuecomment-727521718
But it did not work well for me

[2021-02-08 19:16] erfanium commented on #171
@lastqubit
Yes, see latest docs

[2021-02-18 12:52] uniquedevs opened #216 "uuid validation"
00000000-0000-0000-0000-00000000001b  fastest-validator suggests this "uuid" is NOT valid, even though it is valid based on 128 bit number. Postgres for example assumes it is valid.

[2021-02-18 13:14] erfanium commented on #216
@icebob
I think current UUID regex has problem, this one seems good:
[code]

[2021-02-18 13:16] icebob commented on #216
@intech could you check this issue?

[2021-02-18 14:12] intech commented on #216
@uniquedevs uuid check is strictly according to [rfc4122](https://tools.ietf.org/html/rfc4122)
Your example does not match any of the uuid versions, so the check fails.
I would suggest using regex validation for uuid not matching rfc

[code]

[2021-02-18 14:22] intech commented on #216
And, in postgres uuid-ossp support only 1,3,4,5 version in [docs](https://www.postgresql.org/docs/current/uuid-ossp.html#id-1.11.7.53.5).

[2021-02-18 18:10] uniquedevs commented on #216
@icebob rfc4122 describes algorithms for generating different versions of UUID. From postges documentation "A UUID is written as a sequence of lower-case hexadecimal digits, in several groups separated by hyphens, specifically a group of 8 digits followed by three groups of 4 digits followed by a group of 12 digits, for a total of 32 digits representing the 128 bits." That's why I suggest that if

[2021-02-18 19:32] intech commented on #216
@uniquedevs the difference is that UUID is a structured record. That is why it cannot be arbitrary. Each version has its own checking features, and the version itself is indicated in 3 section 1 character.

00000000-0000-**0**000-0000-00000000001b
In your example version 0, by RFC it can only be UUID Nil when all values are zero. There are no other descriptions there.

As for postgres, then, most

[2021-02-19 07:50] uniquedevs commented on #216
@intech ok, got it. My opinion is you should better update the documentation a little - remove support of uuid version 0 (except Nil). it leads to misunderstanding. It's not critical of course. Thanks for the feedback!

[2021-02-19 07:51] #216 closed

[2021-02-19 08:42] icebob commented on #216
Maybe (similar to other rules) we can use a `strict` property to turn on/off the version checking. And if `strict: false` we checks only the regex matching.

[2021-02-19 09:17] intech commented on #216
@icebob we can. But, this will no longer be a uuid - that's what I was trying to explain.

[2021-02-23 14:58] hugebdu commented on #19
any plans to implement this feature?
10x

[2021-02-24 14:10] hugebdu opened #217 "nonNegative [0... ∞) for number"
shouldn't [be there](https://github.com/icebob/fastest-validator#properties-9)?
I have a use case. cannot see how to achieve it without custom validator.

can try & PR if you think there's a place for it

10x

[2021-02-24 14:16] icebob commented on #217
`{ type: "number", min: 0 }` gives the same result.

[2021-02-24 14:17] hugebdu commented on #217
indeed.
this is... embarrassing

10x

[2021-02-24 14:17] #217 closed

[2021-03-02 11:42] hugebdu opened #219 "feature: support for object.propValidator"
Currently `object` built-in validator [supports only](https://github.com/icebob/fastest-validator#properties-10) `minProps` and `maxProps`.

I have a use case where I need to further check object properties (regexp) - both the keys and the values (dictionary). I found a work-around with a custom validator, inspired by [this one](https://github.com/icebob/fastest-validator/issues/108#issuecomment-7

[2021-03-02 15:23] icebob commented on #219
Why would be it's different from the custom `check` method?

[2021-03-02 15:35] hugebdu commented on #219
actually what I need here is another type - `map`.
ended up [implementing it as a rule](https://gist.github.com/hugebdu/f1881bd246a6787a5d6e5d60c7fffbe9#file-map-js-L32), looks like does the job.

[code]

[2021-03-09 17:19] samseew opened #221 "BUG?: string pattern not working for this particular regex pattern"
Hello, I found this weird bug and I wanted to see what the problem was. Regex always worked fine when I used the 'pattern' attribute. But for some reason, when I use this particular regex for validating emails, it doesnt work and errors out the validator. I made sure the regex worked, it works in the online regex checkers and when I tested it with javascript it worked fine. Below I have an example

[2021-03-09 17:38] intech commented on #221
Problem on this line:
https://github.com/icebob/fastest-validator/blob/master/lib/rules/string.js#L140-L143
the replace method breaks the string

[2021-03-09 18:18] samseew commented on #221
@intech right, and I am assuming this is unexpected behavior. will there be a fix?

[2021-03-09 20:30] intech commented on #221
@samseew fixed, wait for next release

[2021-03-09 20:35] samseew commented on #221
@intech Thank you! When does the next release come out?

[2021-03-09 20:42] erfanium commented on #221
@samseew You can install fastest-validator directly from Github until the release

[2021-03-10 11:31] dannyfoncke opened #223 "Feature : Nested Schema"
How can I include a schema in a schema ?
I'm trying to add a custom type to a schema A, where that custom type refers to another schema B
I add that custom type to the validator of schema A (v.add) and in the function I try to call the validate function of the module where schema B is validated
For that I need to import (require) the schema B validate function, but that doesn't seem to work
Can it

[2021-03-10 12:15] AndreMaz commented on #223
Please check [aliases](https://github.com/icebob/fastest-validator#alias-definition)

[2021-03-11 15:39] samseew commented on #221
@erfanium @intech  got it, thanks guys

[2021-03-13 16:53] dannyfoncke commented on #223
I guess it probably should but I can't get it to work
What I'm trying to do

I have 'master'
[code]
the Cron.v1 is
[code]
The validation happens on the 'master' schema :
with the cronSchema schema imported from another module
[code]
The system finds the alias, and does a deepextend
[code]
The return schema of that is :
[code]
after which the following throws an error
[code]
because schema.type is

[2021-03-13 17:39] erfanium commented on #223
@dannyfoncke
Please reproduce it in another repo if you think it's a bug.

### Notes:
[code]

1. Never ever use `v.validate`, just compile schema via `v.compile` *only once*, and validate the object with checker function:
https://github.com/icebob/fastest-validator#validate

2. 99% of time, You don't need to create multi instance of Fastest-validator. use singleton pattern

[2021-03-13 20:31] dannyfoncke commented on #223
OK, used it with Typescript (should've done that immediately)

One can't pas a schema as alias
Nested object is what I need to use.
Which works :)
Thanks for the prompt replies, sorry to have wasted some of your time
Keep up the good work

[2021-03-13 20:31] #223 closed

[2021-03-15 13:10] hugebdu commented on #189
another related issue is that custom checker function & missing property cause the property to appear on validated object:

[code]

[2021-03-15 13:13] #219 closed

[2021-03-16 08:15] erfanium commented on #189
This should be fixed in next major update

[2021-03-17 15:35] valeeum opened #224 "Email Validation Bug - When Empty Property Is False And Value is Empty String"
When schema entry for email field has "empty" property set to false, value is coerced into number.

https://runkit.com/embed/24rdibzy73yz

[code]

Here is the output from runkit (link listed above):

![image](https://user-images.githubusercontent.com/1195356/111494567-d1d14c00-86fb-11eb-903e-22a4122d2cae.png)

[2021-03-17 15:48] erfanium commented on #224
It's not really a bug. because `validationResult` is not true and there's validation errors. Why you want to use `values` object when you know this object is not valid?

[2021-03-17 16:09] #221 closed

[2021-03-17 16:22] valeeum commented on #224
Maybe I'm using this package in ways it wasn't intended but I'm using it for basic frontend form validation in addition to using it for our moleculerjs based backend.  We validate and sanitize (if necessary) as the user types.   I was not expecting values to be mutated if sanitizers weren't enabled.  You can always clone, validate then revert if failed but I think it's better to not mutate values

[2021-03-22 16:50] #224 closed

[2021-03-26 10:02] #175 closed

[2021-04-04 12:01] icebob opened #230 "Wrong `this` value in custom validators"
It seems the `this` is not set correctly in the `custom` validators. Before the 1.0 it pointed to the `Validator` instance but since 1.x it's not.

[code]

Output

[code]

[2021-04-10 17:04] erfanium opened #232 "Remove all typescript tests, use tsd instead"
Current typescript tests are just useless. we should just write a single test for `index.d.ts` file with 'tsd'. This is best practice for Javascript based projects with typescript support

[2021-04-10 17:31] #230 closed

[2021-04-10 17:32] icebob commented on #232
Good idea, who can do it?

[2021-05-11 09:09] FenixDeveloper opened #234 "Async validations from README doesn`t work"
Node.JS 16.1.0
npm 7.12.0
fastest-validator 1.10.1

Example code:
[code]

Console output:
[code]

Have any workaround for correct async validation or may be i did something wrong?

[2021-05-11 11:33] icebob commented on #234
Async is not yet released. Until then, install the master branch with `npm i icebob/fastest-validator`.

[2021-05-11 11:38] erfanium commented on #234
@icebob Better to release a bata version

[2021-05-11 11:51] #234 closed

[2021-05-20 13:45] icebob commented on #172
It works in the latest version.
![image](https://user-images.githubusercontent.com/306521/118989500-60737b00-b982-11eb-9b6f-40746f44e574.png)

[2021-05-20 13:45] #172 closed

[2021-05-20 15:49] HighSoftWare96 commented on #172
Ok
I haven't seen that in the picture: the second item gets converted?

[2021-05-20 16:08] icebob commented on #172
Ohhm, I don't check it, just that it returns `true` :)

[2021-05-20 16:11] icebob commented on #172
Yeah, it converted:
![image](https://user-images.githubusercontent.com/306521/119012907-bfdb8600-b996-11eb-94fc-83e1117a4167.png)

[2021-05-21 14:53] alvarocantador opened #235 "bug: TypeError: Cannot convert object to primitive value"
**What?**

The string validator is in someway evaluating the objects coming as params and it breaks if it has native prototype references (e.g. toString, toJSON)

**How to reproduce it?**

[code]

**Environment:**

$ node --version
v12.16.1
macOS Catalina 10.15.16
fastest-validator version: 1.11.0

**Comments:**
I didn't inspect the code deeply, but if you have any suggestions about how to solve i

[2021-05-21 15:13] icebob commented on #235
Thanks the report. Repro link: https://replit.com/@icebob/fastest-validator-235

[2021-05-22 08:16] erfanium opened #236 "bug in debug mode"
[code]
output:
[code]

output without prettier:
[code]

Because `Function.prototype.bind` is native code.
Related #231

[2021-05-22 08:18] erfanium commented on #236
Possible solutions:
1. Using `Function.prototype.call` instead of `bind`
2. Store function source code as string in context for debug

[2021-05-22 08:50] erfanium commented on #235
I think this is expected result. Just use json parser like this:
[code]

[2021-06-01 16:23] #236 closed

[2021-06-01 21:41] #169 closed

[2021-06-01 21:42] erfanium commented on #208
Stale

[2021-06-01 21:42] #208 closed

[2021-06-02 21:01] erfanium opened #240 "Do we need rollup?"
FV can run natively on node, so there is no need for a build process. Also bundling a browser version is not in out business, Frameworks and CDNs usually do this.

I think we do not need rollup

[2021-06-02 21:08] erfanium commented on #171
In newer versions of Deno, seems it can't use a `.d.ts` file that has a `declare module` statement.
So `index.d.ts` file must be updated.
I try to fix it in `tsd` branch

[2021-06-03 01:40] EliseevNP opened #241 "How can I get an array element in a custom validation function"
[sandbox](https://codesandbox.io/s/practical-shape-11lj2?file=/src/index.js:0-2115)

[code]

[2021-06-03 08:29] erfanium commented on #241
[code]

[2021-06-03 08:30] erfanium commented on #241
Note that you don'y need `optional: false`, all types are required by default

[2021-06-03 14:33] EliseevNP commented on #241
Oh it really works. Thanks a lot! Issue can be closed, but I have one more additional question. It's not so important, but it would be nice to get the array index, or a pretty path in the error message. Now I am getting the following:
[code]
I can use the following custom checker:

[code]
Can I get the following error somehow:
[code]

[2021-06-03 15:03] erfanium commented on #241
@EliseevNP Good request!
[code]

Use this for now.

[2021-06-03 19:02] EliseevNP commented on #241
@erfanium Thank you! Summary, this is a working solution:
[code]

[2021-06-03 19:02] #241 closed

[2021-06-03 20:41] erfanium commented on #241
@EliseevNP
I edited my code https://github.com/icebob/fastest-validator/issues/241#issuecomment-853939548, small performance improvement

[2021-06-06 11:24] erfanium opened #242 "Do not include expected regex pattern in error object"
This information can help attackers to find valid patterns that cause problems or find a way to bypass validations. Too risky

[2021-06-07 07:12] icebob commented on #242
Why only regex pattern causes this problem?
[code]
Same as
[code]

If it's a problem, would be better a validator option to disable expect values, like `errorExpectedValue: false`

[2021-06-07 07:51] erfanium commented on #242
Like it, It's a good way

[2021-06-07 09:58] arun-prakash-fokus opened #243 "potential uuid validation bug"
This may be a potential uuid bug in the fastest-validator or incorrect usage of the API from my part (due to lack of expertise, in which case, kindly ignore)

I have the following moleculerjs action defined in my service.

[code]

For the below uuids

[code]
it fails with the following error message

[code]

I validated the correctness of this uuid on

https://www.freecodeformat.com/validate-uuid-

[2021-06-07 11:59] erfanium commented on #243
@arun-prakash-fokus What is your expected result?

How do you generate these UUIDs? They are not valid, because they have unknown variant. see https://www.uuidtools.com/decode for extra info

Also this is expected, because performing uuid version check is mush faster than other validations, so FV first validates the UUID version than other parts

[2021-06-07 12:04] arun-prakash-fokus commented on #243
That the UUIDs are validated as valid.

I am developing an API wrapper on top of NiFi. The UUIDs are generated by the NiFi application.

[2021-06-07 12:20] erfanium commented on #243
@arun-prakash-fokus

They are not. If you want to allow UUIDs that has unknown variant, just use this code from here.
https://github.com/icebob/fastest-validator/issues/216#issuecomment-781370967

[2021-06-07 13:07] intech commented on #243
Sorry, did not have time to answer after reading.

@arun-prakash-fokus You wrote everything correctly, the given uuid examples are valid only for version 3 according to rfc.
Version 4 is checked by default is the most popular. I suppose you should check any version for validity by default, or use the `strict: false` parameter, or suggest your option to skip the uuid of all versions with an optiona

[2021-06-07 13:11] intech commented on #243
9adabada-3b4b-**3**2eb-fd7e-c41191eefa2a
642ff728-2fb3-**3**e6b-f48f-0cfb94b772e2
Everything is very simple this is the version in the uuid itself

[2021-06-07 13:14] intech commented on #243
https://nifi.apache.org/docs/nifi-docs/html/expression-language-guide.html#uuid

[2021-06-07 13:15] erfanium commented on #243
@intech
https://github.com/icebob/fastest-validator/blob/master/lib/rules/uuid.js#L40

It runs the variant check for version 3, 4 and 5

[2021-06-07 13:35] intech commented on #243
Yes you are right, it was on rfc for 3, 4, 5 versions.

[2021-06-07 14:45] arun-prakash-fokus commented on #243
Thank you all for your inputs.

Probably, I did not explain correctly the first time.

The UUIDs that I am checking / validating are generated by NiFi. They are:

[code]

As per the documentation, correctly pointed out by Ivan, NiFi generates them as type 4 UUID. This is why I wrote my initial code with :

[code]

 as far as I understood, FV does validation of UUIDs as v4 type.

 Since the validat

[2021-06-07 14:54] intech commented on #243
this is an unrealized functionality, I propose to implement it if there is a need for it

[2021-06-07 17:25] erfanium commented on #243
@arun-prakash-fokus
Let me explain exactly how FV uuid validation works:

1. It checks value to to be string
2. It checks value pattern with a generic UUID regex
3. if uuid version specified, then It checks uuid version
4. if uuid version is 3, 4, 5, It checks **UUID variant** to be one of (8, 9, a, b)

No less, no more. **There is no default UUID version.**

### Example A:
9adabada-3b4b-**3**2eb-

[2021-06-07 20:11] arun-prakash-fokus commented on #243
@erfanium - thank you very much the explanation. I will use your proposed approach.

[2021-06-08 11:51] arun-prakash-fokus commented on #243
@erfanium,

I also tried to check with other UUIDs generated in NiFi.

For instance, with

`9adabada-3b4b-32eb-2689-4587dac319d0`

https://www.uuidtools.com/api/decode/9adabada-3b4b-32eb-2689-4587dac319d0

![image](https://user-images.githubusercontent.com/25454690/121179635-3f56c980-c860-11eb-94b9-be96c5fed85a.png)

This is a **VALID** UUID, right?

However, when I validate with FV, it throws me

[2021-06-08 12:12] intech commented on #243
Not. Reserved but not used in actual uuid variants.

[2021-06-08 12:19] arun-prakash-fokus commented on #243
thank you. that clarifies it.

[2021-06-09 07:11] erfanium commented on #243
@arun-prakash-fokus
I'm going to close this issue but if you still have questions, feel free to continue here. Thanks

[2021-06-09 07:11] #243 closed

[2021-06-11 10:06] arun-prakash-fokus commented on #243
This does not concern fastest-validator strictly.

Nevertheless, I am adding an external link to the Apache NiFi's Jira board so that it helps anyone who is looking for a solution related to the UUID issues with NiFi / FV / moleculerjs.

I have the hack documented here to generate valid UUIDs inside NiFi using the _X-Cluster-Id-Generation-Seed_ header

https://issues.apache.org/jira/browse/NIFI-86

[2021-06-12 10:41] VityaSchel opened #245 "[FEATURE] At least one of"
I need validator that accepts multiple parameters and return true if at least one passed:

[code]

So you can pass either token or key but you cannot validate object without both of them. There is $or operator but it only works for one parameter with multiple possible values.

[2021-06-12 14:17] erfanium commented on #245
[code]

[2021-06-12 17:40] VityaSchel commented on #245
thanks for this workaround, I'll try it!

[2021-06-13 13:14] icebob commented on #240
It's true, but it's a breaking change, so only in 2.0

[2021-06-14 06:47] #235 closed

[2021-06-18 17:59] KabutoYamato commented on #171
I know is not pretty but maybe this form for defining the typings could work
[code]

after doing that the correct ways to import the module would be
[code]
If you have enabled esmoduleinterop in tsconfig it would work as default import also
[code]

[2021-06-20 20:24] VityaSchel opened #246 "Regex pattern escape is not shown in error after validation"
Steps to reproduce:

1. set rule { type: 'string', pattern: 'https:\/\/example\.com' }
2. validate incorrect string with this rule to get error
3. in error.expected will be:

[code]

instead of

[code]

[2021-06-20 20:27] VityaSchel commented on #246
Also works (doesn't work?), it reproduces if set `new RegExp('https:\/\/example\.com')` to pattern, escape slashes are not shown. If you set `pattern: /https:\/\/example\.com/` then it will fail too.

[2021-06-20 20:28] VityaSchel commented on #246
My suggestion is to use regexp object inside expected field in error or fix this issue by replacing '\\' to '\\\\' in regex.source

[2021-06-27 12:42] VityaSchel opened #247 "[FEATURE] Add error hadler for 'enum' validator without values"
If you try to validate object with this validator:

[code]

You'll get `TypeError: Cannot read property 'join' of undefined`

I suggest adding error handler if you are not specifying `values` key in schema

[2021-06-27 12:44] VityaSchel commented on #247
Lmao looks like maintainers doesn't give a fuck about what's going on here. I've never tried to pull-request, but maybe I'll fix this issue and open a pull request.

![image](https://user-images.githubusercontent.com/59040542/123544928-b1874380-d766-11eb-86bf-28e5ba4ff59e.png)

[2021-06-27 12:51] VityaSchel commented on #247
I hope I did everything right, if not, please redo. Like really it's just 1 line...

[2021-06-27 14:25] erfanium commented on #247
Just use typescript.
I tried to add schema language validator in https://github.com/icebob/fastest-validator/pull/194 long time ago, but it's more than doing some if-statement. Typescript has been created to solve exactly these problems.

[2021-06-27 15:53] icebob commented on #247
@VityaSchel please change your tone of voice. The maintainers work on this project free of charge and in their free time. If you are not satisfied with it, fork it, and maintain your fork by yourself.

By the way, this issue is a developer error, and not a bug in the project. Similar to this, we should check all properties in all rules to ensure that the developer doesn't make typo in their code.

[2021-06-27 15:53] #247 closed

[2021-06-28 11:38] taina0407 opened #249 "Inconsistency convert in object keys"
I've found an issue today about convert:true option

Test code:
[code]

Result
[code]

Expected result: obj fields should be changed too.
We are using moleculer with fastest-validator to ensure and convert fields, this issue will cause us to have convert all those child fields on every actions.

[2021-06-28 13:07] VityaSchel commented on #247
It IS bug in the project. Error handling is a best practice, so please merge my pull request instead of closing it. I won't start a fork of this project just to fix 1 bug.

[2021-06-28 13:07] VityaSchel commented on #247
Please merge pull request or tell me how to change this 1 line I propose to prevent any bugs so you can merge it later.

[2021-06-28 13:12] VityaSchel commented on #247
Typescript is not an option here because it checks variables outside of fastest-validator api. What I propose is to add error handler inside of api. Obviously, I already fixed problem on my side when this error occured, I quickly figured out what was wrong and to prevent other people from this problem I decided to open this issue and even pull request.

Why you closed it? You have so little free t

[2021-06-28 13:31] VityaSchel commented on #247
How about I give you an example why you wrong.

Imagine you making a request to github profile api without authentification:

![image](https://user-images.githubusercontent.com/59040542/123644047-12ca1800-d836-11eb-8447-4b3b81a3ca24.png)

Oh no! I get error in which it obviously specified that this method requires authentification. It even gives you a documentation url (similiar to example which I

[2021-06-28 14:49] erfanium commented on #249
You have typo in your schema. Correct schema:
[code]

[2021-06-28 14:50] #249 closed

[2021-06-28 15:49] stfullstack commented on #209
I also think this would be a useful feature. You could have it default to the {field} unless you have provided the label.

[2021-06-28 17:44] icebob commented on #247
I also accept help, but not partial help and not which good for only some persons. You fix an issue that you faced. But why only fix it in this PR? Why is it not handle other properties in other rules as well?

By the way, fixes are not just one line. Need to cover unit tests as well (in my libraries). _I don't merge PRs without tests._

[2021-06-28 17:49] icebob commented on #209
We can't change the `{field}` to `{path}` because it cause breaking change. But for the label feature, we welcome PRs.

[2021-06-29 04:01] taina0407 commented on #249
Thanks a lot, sorry for my stupidly mistake :(

[2021-06-29 08:37] VityaSchel commented on #247
I offer free help, it does the job: fixes this particular issue. If I was collaborator, I would fix all similar issues.

What so you mean by tests? I should write a test which passes when you get this error? If you really think I should write this test, please give me instructions on where is the unit tests must be written. I'll open another PR with commit which adds 1 line to enum.js file and 1 t

[2021-06-29 08:48] VityaSchel commented on #247
I opened another pull request with fix + tests

[2021-06-29 08:49] VityaSchel commented on #247
Please let me know if you can't merge this PR because of broken code or incorrect code formatting style

[2021-07-01 17:21] VityaSchel commented on #247
@icebob I’m afraid I will have to open a duplicate of this issue just to keep it in ‘Open issues’ tab, because you muted this one and will ignore every new message here. If I’m wrong, please reopen this issue and tell me where is my code broken or accept pull request.

[2021-07-05 16:01] icebob commented on #247
I've seen the #250, but as you see, the tests failed, so the code is not correct.

[2021-07-08 14:15] erfanium opened #252 "Remove ObjectId rule"
After plugins were introduced, extra rules like objectId can be removed by creating plugin for these rules

[2021-07-08 14:20] erfanium opened #253 "CI workflow should check code format"
There's no standard formatter specified for this repo and different sections have different formats.

Steps
- Add a `format` script to package.json
- Add `npm run format --check` like command to CI

[2021-07-10 07:08] #171 closed

[2021-07-15 21:04] sajcics opened #256 "alpha and optional combinations"
WHAT?
When I define alpha parameter in the optional field, the validator throws error.

EXAMPLE:
Here is an example how I defined rule for name field.
`   name: {
      type: 'string',
      optional: true,
      alpha: true,
      trimLeft: true
    },`

  the validator throws error `field must be an alphabetic string`. If I remove `alpha` then validation on empty field works.

    Expecting:

[2021-07-15 21:20] sajcics opened #257 "type email"
WHAT?
Type email is not checking how many '@' symbols have.

EXAMPLE:
Here is an example how I defined rule for name field.
` email: 'email|max:255|normalize',`

testing with email:
- `demo@some@some.com`

validation passes as valid.

EXPECTING:
I am expecting validation to fail.

VERSION:
latest: 1.11.1
nodejs: 14

[2021-07-15 21:40] erfanium commented on #256
It's expected, empty string is not a valid `alpha` pattern

[2021-07-15 21:43] sajcics commented on #256
yes, but I have an `optional` set to true, which means that alpha should not be applied if string is empty.

[2021-07-15 21:50] erfanium commented on #256
`optional` flag only cares about `null` and `undefined` values and doesn't skip empty strings

[2021-07-15 21:53] sajcics commented on #256
it will be great if empty string also consider as null and undefined for `optional`...because it's empty and do not representing anything

[2021-07-15 22:06] erfanium commented on #256
You can add a preValidation middleware to delete these keys from object. It's better It's more safe for the validator to be strict

[2021-07-16 11:48] intech commented on #257
Set in rule `mode: "precise"` for email field

[2021-07-16 21:08] sajcics commented on #257
@intech thanks. it's working.

[2021-07-16 21:08] #257 closed

[2021-07-21 11:44] josepsolerpla opened #258 "Global Default"
There is no way to create a custom validator for all types, like "max: 3" on "number" type.

We can create default custom for individual types but is not very efficient.

[code]

Adding a "globalDefault" on the config and adding on the 'lib > validator.js > class Validator > getRuleFromSchema > when "const rule"' is created adding the global default one.

[code]

Even doing something like an expre

[2021-08-01 11:48] higoka opened #259 "custom error objects"
Im creating a rest api and use `fastest-validator` for my form validation.
For the most part it works fine, however sometimes i need to return some additional error information
which as far as i know is not possible (yet)? Currently we can only change the error message but it would be
better to allow changing or setting a entire custom error object.

Something like this:
[code]

Is there any plans

[2021-08-01 16:16] erfanium commented on #259
Just create your custom middleware for errors. This is not something that concerns us

[2021-08-01 16:42] higoka commented on #259
can you give a quick example how im not sure how i can implement that in a middleware

[2021-08-01 16:43] erfanium commented on #259
Which framework you are using?

[2021-08-01 16:47] higoka commented on #259
express

[2021-08-01 16:52] erfanium commented on #259
I'm not a express user, but something like this should work
[code]

[2021-08-01 17:03] higoka commented on #259
okay i will try to figure it out somehow but thanks for your time and patience!

[2021-08-01 17:03] #259 closed

[2021-08-04 14:16] mercuryskies opened #260 "Bug with type objectID"
Hi!
There is a bug when using "objectID" type as it now imported from mongodb as ObjectId.
And it works only with alias – _import { ObjectId as ObjectID } from 'mongodb'_

To use just _const { ObjectId } = require('mongodb')_ , rule needs to be updated from **ObjectID** to **ObjectId**

[2021-08-04 14:35] erfanium commented on #260
`objectID` rule will be removed in next major version (see #252)
So better implement your custom rule for objectId. it's easy

[2021-08-11 02:01] faustbrian opened #262 "How to validate data based on another property in the data?"
When working with some more complex objects in AJV I'm able to do something like `min: { $data: "1/a/min" }` but can't seem to figure out how to do this with this package.

[code]

I tried a custom validator but I don't seem to ever have access to the full object inside the `check` function, just the value that is currently being validated.

[2021-08-11 03:56] faustbrian opened #263 "Conditional requirements like with AJV"
Is it possible to conditionally require fields depending on the structure of the data that is being validated? With AJV it is possible to achieve that by using `anyOf`.

[code]

[2021-08-11 08:18] erfanium commented on #262
Just create a const variable, easy and declarative:
[code]

[2021-08-11 08:24] faustbrian commented on #262
It isn't a fixed value so this won't work. The way `{ $data: "1/a/min" }` works is that it'll grab the `a.min` value from the object I'm validating.

[2021-08-11 08:27] erfanium commented on #262
I know, but I don't see an advantage in using this method. There's no problem to fix

[2021-08-11 08:46] #262 closed

[2021-08-11 08:46] #263 closed

[2021-08-19 17:14] ngraef opened #264 "uuid default version"
The [docs](https://github.com/icebob/fastest-validator#uuid) say the `uuid` validator's `version` property defaults to `4`. However, a schema without a specified `version` will accept any version. If the intention is to have v4 be the default, then there is a bug in the code. Otherwise, if this is the intended behavior, the docs should be fixed.

[code]

[2021-08-19 17:21] #264 closed

[2021-08-19 17:21] icebob commented on #264
Thanks, I've fixed the docs, because there is no default value in code.

[2021-08-26 12:00] sachinda123456 opened #265 "Decimal place validate in molecuter"
Hi i need to setup entity validator to two decimal places .I looked your documentation but i have not found any thing to how to validate this . Any one can help ???
Currently i used number type if there any method to do this help me ????

      payment_amount:{ type: "number" },

[2021-08-26 14:01] wast opened #266 "Date between today and +14 days"
Hi, how would one write a validator for date that must be in range between today and in 2 weeks?

[2021-08-27 11:09] #266 closed, assigned to nobody

[2021-08-27 11:50] wast opened #267 "Validate property based on another property"
For example. Property y must be bigger than property x (both numbers). Couldn't find that in documentation.

[2021-08-28 18:41] #265 closed

[2021-08-28 19:30] icebob commented on #267
You can do it with custom validator.

[2021-08-28 19:30] #267 closed

[2021-09-02 07:44] sachinda123456 opened #268 "Regex enable if value is not empty or null"
I have some  regex pattern    Called discount     **_discount: { type: 'string', pattern: /(^\d+(\.\d{2})?$){0,100}_**/ },
It enable max allow two decimal places and  minimum number is 0 and max  number is 100 . According to my requirement everything fine . But i need to check this regex pattern if discount field has a value . That mean i need to disable pattern check if key does not have value .

[2021-09-02 09:59] intech commented on #268
add option in `discount`: `optional: true`

[2021-09-08 19:43] rmattos500 opened #271 "Adding custom string validator function breaks validation"
Adding a custom string validator function seems to have caused my other validation to stop working correctly.

I have simplified my code down and attached a link to the repo containing an example of the issue I am running into. In the example, I am using a dummy custom string validator function that should not be causing the validation to fail, however when run, the validation fails due to some of

[2021-09-08 20:28] erfanium commented on #271
Confirmed, for now you can just use `strict: "remove"` to bypass this bug,

[2021-09-08 20:32] erfanium commented on #271
repro

commenting out custom checker function will change the final result
[code]

[2021-09-08 20:41] erfanium commented on #271
@icebob I think we should never call custom checker function when value is null or undefined

related @189

[2021-09-08 21:02] rmattos500 commented on #271
@erfanium Thanks for looking into this so quickly and for the suggested bypass!

[2021-09-09 16:11] icebob commented on #271
The issue related to `defaults`?

[2021-09-10 16:51] erfanium commented on #271
@icebob Nah, Run my repro code to better understand it

[2021-09-13 17:40] icebob commented on #271
Simpler repro:
[code]

So the issue is that FV populates the original object with `extra: undefined`?

[2021-09-22 14:17] zidingz opened #273 "Create SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@yetingli) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practic

[2021-09-25 11:33] icebob commented on #273
I've added.

[2021-09-25 11:33] #273 closed

[2021-09-25 11:33] icebob commented on #271
@erfanium ?

[2021-09-25 14:33] erfanium commented on #271
I'm okay with this solution. (In fact, my solution was the same, but in another words)

[2021-09-27 08:48] hugohabicht01 opened #274 "[QUESTION] Accessing values of other fields from a custom rule"
I'm trying to validate nested objects that have dynamic children elements. Depending on what the value of an enum is, I would like to validate another field. Is there any way I could access the passed value of other fields  in a custom checker function?

[2021-09-27 09:47] erfanium commented on #274
Even if it is possible, it's not recommended. validation rules must be encapsulated and they should not depend on other fields value. I can help you better if you provide an example of what you want

[2021-09-27 12:17] hugohabicht01 commented on #274
I'm using a private microservice framework that uses fastest-validator as the validator for incoming data. The data that comes in is in JSON depending on what the value of a enum is, another field will need to be validated differently, kind of like a generic  interface in typescript. e.g.:
[code]
Examples for the incoming JSON would be:
[code]
or
[code]
I hope the examples are understandable, what

[2021-09-28 13:49] plashenkov commented on #274
What it means "not recommended" and "must"? Maybe in simple cases — yes, you don't need this. But in more or less complex cases sometimes you absolutely need this. This is not a programmer's choice, but an objective requirement.

Sometimes the schema of some fields depend on other fields values. For example, you validate a form, where you have different field requirements depending on other field/

[2021-09-28 14:03] plashenkov commented on #274
Well, sometimes you depend not only on input data, but even on some other existing data.

For a practical example: you have an existing entity data, and you get an input to patch this entity data. You need to validate this input.

For example, the entity data has a field or fields containing an array of some objects. And the new data you have as an input now (to update your entity) can contain obj

[2021-09-28 14:35] erfanium commented on #274
fastest-validator (and other validators as well) are `schema` validator. not a request validator.
Schemes are stateless, like interfaces. They can't depend on database or time. so schema validators never meet all your needs and you should add extra validation layers if you need.

[2021-09-29 15:00] hugohabicht01 commented on #274
My question wasn't about causing a big argument, I was just wondering if it is possible to do what I'm trying to do.... Is there any way to achieve this with fastest-validator, or do I have to write another middleware?

[2021-09-29 18:36] erfanium commented on #274
@hugohabicht01
I think you can do this by `multi` rule. think like this way:
[code]

[2021-10-08 23:25] #274 closed

[2021-10-17 11:36] #260 closed

[2021-10-17 12:55] #173 closed

[2021-11-05 01:18] sbmelvin opened #276 "feature request: `map` rule"
Is it possible to write a schema that validates an object whose keys aren't known, but the schema of the values are?

For example:

[code]

[2021-11-06 10:05] icebob commented on #276
Please explain it better.

[2021-11-06 11:16] erfanium commented on #276
@icebob
he/she means something like this
[code]

[2021-11-06 11:56] icebob commented on #276
Ahh, thanks. For this purpose, we use custom validators.

[2021-11-06 12:28] erfanium commented on #276
@icebob I think we can introduce a new rule called `Map` for these usage.

[code]

[2021-11-06 20:31] sbmelvin commented on #276
Say I have a data source that returns the current active users of a service:
[code]

I can't write a schema to validate this object because the keys of `users` change depending on which users are online. It's no problem to validate the objects within `users` because they have a known and unchanging schema, however validating the entire `status` object requires multiple schemas and multiple checks

[2021-11-06 20:44] sbmelvin commented on #276
Does `type: "map"` here refer to a JS `Map`? I ask because a key in a JS `Map` can be any value (Object, function, string, primitives, etc).

[2021-11-06 20:50] erfanium commented on #276
@sbmelvin
You are doing it wrong. If you are the owner of the service, I recommend you just use arrays for online users, your response body would be like this:

[code]

[2021-11-06 22:08] sbmelvin commented on #276
That is irrelevant. This is not a style guide, it's a validator. Also, what you posted is not JSON fwiw.

I'm not but that is also irrelevant. I should not have to change the structure of syntactically correct javascript in order to have it validated. My data comes from drones and remote sensors that cannot be updated once deployed.

For the record, Joi and Ajv support this feature.

https://joi.d

[2021-11-08 17:10] icebob commented on #276
Keep open, because the @erfanium `map` rule is a good idea.

[2021-11-08 18:55] S-STALWART-S opened #277 "single validators and performance impact"
Hi.f thanks to all of you for this amazing pkg.

I have a schema for my user, fields is : username,firstName,lastName and ...

what happen for my app performance and validate speed if i make a separated validator for each of them, and call check validator on loop.

example =>

this is my login validator :
[code]
but i know i need single validator for all of them . so i want to do this  :

[code]
a

[2021-11-08 22:56] erfanium commented on #277
The performance would be the same. I don't see any issue

[2021-11-09 07:05] S-STALWART-S commented on #277
Thanks <3

[2021-11-09 07:05] #277 closed

[2021-11-12 12:15] ahmedthinkdifferent opened #278 "cannot create required if custom validator"
i need to check that value is exists if field exists and in another scenario wants to validate that value is exists if field exists with this custom value.
{
"gender":"male",
"age"20
}
want to check that age exists if gender exists.
second scenario.
{
"gender":"male",
"age"20
}
wants to check that age exists if gender is male because females don't like others ask for their ages.
Thanks

[2021-11-17 11:58] giovanni-bertoncelli commented on #173
@icebob @erfanium Can you please consider this feature? This is a standard in JSON Schema and it can be very helpful.

[2021-11-17 14:39] erfanium commented on #173
@giovanni-bertoncelli checkout #276

that's planned but somebody should implement it

[2021-11-25 17:43] shafaprince opened #280 "validate false if two field is equal"
How I have a condition to validate ```true``` if two field is not equal (this two field is not numbers):
[code]
I know there is a ```type``` to check if they are [equal](https://github.com/icebob/fastest-validator#equal) but I want to check the opposite:
[code]

[2021-11-25 19:38] icebob commented on #280
For this use case, there is not built-in rule. You can do it with custom rule.

[2021-11-25 20:01] erfanium commented on #280
@shafaprince Also there's no reason to check both password and confirmPassword fields at backend side. You can only pass password value to the server.

[2021-11-26 08:50] shafaprince commented on #280
According to [Meta information for custom validators](https://github.com/icebob/fastest-validator#meta-information-for-custom-validators):

so I can compare any two field that I want. In my to compare ```_id``` and ```parent_id``` I can use this:
[code]

[2021-11-26 08:50] #280 closed

[2021-12-09 13:27] Yash17Agrawal opened #281 "Incomplete message returned in case of numeric field when min is set to 0"
Schema
[code]

Returned response is

[code]
if you notice the message **The 'score' field must be greater than or equal to .** after to its empty not specifying 0. From looks of it, i feel somewhere it must be checking like

[code]
where obj.min will evaluate to **false** in case of 0 ONLY.

[2021-12-16 14:45] Yash17Agrawal commented on #281
Just checked, i was having old version of 1.2.0 and checked its resolved with latest version. anyway thanks for such clear documentation.

Closing this.

[2021-12-16 14:45] #281 closed

[2021-12-30 14:54] shawnmcknight opened #282 "Custom validator regression with multiple rules"
#272 seems to have introduced a regression when using custom validations and multiple rules between 1.11.1 and 1.12.0.

If there are multiple rules, and an earlier rules fails while a later rule passes, the validation will still fail.

In this example [codesandbox](https://codesandbox.io/s/cool-curran-nvjtt?file=/src/index.js), you'll see a custom rule for a simple "even number" example.  When usi

[2021-12-31 10:47] icebob commented on #282
Thanks, we will check it.

[2022-02-02 11:12] giovanni-bertoncelli opened #283 "Possible bug: Optional enum string fails validation on empty input"
## Description

I do not know if this behaviour is by design or not but when I declare some prop like this one:

[code]

the validation process fails inferring that the empty value `''` is not in the `stringEnum`, even if I've specified the `optional` and the `nullable` features. Is this by design? Or shouldn't be the null and empty string, in this case, considered as part of the enumeration or ch

[2022-02-07 20:37] icebob commented on #283
I think it's a bug, I'm checking it.

[2022-02-07 21:02] icebob commented on #283
I've checked the code, and it looks the half is by design and half is (maybe bug or not).
- the `optional: true` checks that `Status === undefined`˙.
- the `nullable: true` checks that `Status === null`
But the empty string is neither of both. There is an `empty: false` property that disables accepting empty string, but `empty: true` has no effect, just skip this check and rule other checks, like

[2022-02-08 20:43] #283 closed

[2022-02-10 13:47] askaribragimov commented on #276
+1. really strange map is not here.

[2022-02-16 21:24] intech opened #285 "Rule `date` add convert string to number for timestamp"
In moleculer-web I encountered an interesting problem. It is impossible to pass validation when `GET` parameters are in `timestamp`, the parameter will always be a string and code `new Date(string)` result is `Invalid Date`
https://github.com/icebob/fastest-validator/blob/65f3994d999f39238a96aae442fa02ed54a14b1e/lib/rules/date.js#L16-L18

A quick solution is to add a check that the passed value, w

[2022-02-17 21:12] intech commented on #285
Took it to do over the weekend.

[2022-02-19 21:06] #285 closed

[2022-02-22 12:45] askaribragimov opened #287 "Module or class with Validator does not run with JUnit"
I have a typescript file that starts like

[code]

This file is imported in my main file as

[code]
and it works without an issue.

**Observed:**  when I create a Jest Typescript test file with the same import I get an error
[code]

which makes it impossible for me to use the fastest_validator in the testing code.

**Expected:**
 - Jest tests can import `fastest-validator` code

I use:
[code]

[2022-02-22 18:47] erfanium commented on #287
https://www.typescriptlang.org/tsconfig#esModuleInterop

Do you have tried to set esModuleInterop: true in tsconfig?

[2022-02-23 14:05] askaribragimov commented on #287
@erfanium it's set to true

[2022-02-23 14:07] erfanium commented on #287
https://github.com/icebob/fastest-validator/issues/71

[2022-03-12 01:08] kwaisecer[bot] opened #289 "同学，您这个项目引入了613个开源组件，存在2个漏洞，辛苦升级一下"
检测到 icebob/fastest-validator 一共引入了613个开源组件，存在2个漏洞
[code]
另外还有2个漏洞，详细报告：https://mofeisec.com/jr?p=a62740

[2022-03-12 01:08] Kwaiseec commented on #289
@icebob，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-12 07:55] icebob commented on #289
please english. By the way, fastest validator has no dependency. Just dev dependency.

[2022-03-12 07:55] #289 closed

[2022-03-16 00:37] 0x0a0d commented on #282
Maybe #290 is solution 🤣

[2022-03-21 22:11] shawnmcknight commented on #282
@0x0a0d @icebob Unfortunately, no I think its still a problem.  I forked the [codesandbox](https://codesandbox.io/s/priceless-swartz-tw20ib?file=/src/index.js) and installed from GitHub instead of npm and the "Array passing" test example using an array is still failing.

[2022-03-22 02:40] 0x0a0d commented on #282
I think it's codesandbox problem, I tried with master branch and the test worked as expected
![Screen Shot 2022-03-22 at 09 38 38](https://user-images.githubusercontent.com/32500015/159397050-739c2a40-f0f6-46fc-8c15-9468c8593808.png)

[2022-03-22 13:27] shawnmcknight commented on #282
@0x0a0d @icebob Hmm, yeah, not sure why the codesandbox is still failing.  Maybe codesandbox doesn't properly allowing installing from GitHub?  Anyway, I had a failing unit test on my local repo with 1.12.0 and just installed the master branch version locally.  The unit test is no longer failing, so I do think this resolves the issue. 👍

[2022-05-16 03:26] Technoash opened #293 "Failing to compile schema with enum values containing double-quotes"
[code]

**Stacktrace**
[code]

There seems to be an issue compiling schemas with enum values with the double-quote (") symbol

[2022-05-17 02:19] Technoash commented on #293
in https://github.com/icebob/fastest-validator/blob/master/lib/rules/enum.js

[code]

This escapes any double-quotes provided in values

[2022-06-30 20:13] FFKL opened #296 "Is it possible to allow `undefined` value validation but return an error for `null` value?"
`optional` setting allows `undefined` and `null` values.
`nullable` setting allows `null` and disallows `undefined`.
What can be done for the case when you want to allow `undefined` but disallow `null`?

[2022-06-30 20:55] FFKL opened #297 "Backward compatibility broken when migrating to version `1.12.0`"
In versions prior to `1.12.0` all validation errors are returned together, but then the `strict`-related error became a priority.
You can change the `fastest-validator` version in the [example](https://codesandbox.io/s/recursing-monad-2ytp9e?file=/src/index.js) and verify it.

[2022-06-30 21:07] FFKL commented on #276
@icebob As far as I know, nobody works on it. I have a similar custom rule in my project and I think I can implement it here.

[2022-07-10 17:29] icebob commented on #296
Custom validator :) What is the use-case, and when need this logic?

[2022-07-10 17:48] icebob commented on #297
The issue came with #272 by @0x0a0d here: https://github.com/icebob/fastest-validator/pull/272/files#diff-7380b3ab547c30fffa792d657dffe20479df9bcebf4932f8a97520611241cd9eR72-R74

@0x0a0d can we remove this condition?

[2022-07-10 17:49] icebob commented on #276
Yeah, it would be great, please open a PR with your implementation.

[2022-07-11 10:40] 0x0a0d commented on #297
This condition cannot be completely removed as it is required for `multi rule`, unless in the `multi rule`, before call checker, the data must be `deepClone`, otherwise object `strict remove` will change it and next validation will be failed

[2022-07-14 20:04] FFKL commented on #296
@icebob This is often helpful because `null` and `undefined` is not the same :) Especially when you use typescript with strict null checking. Or if you don't want unexpected `null` in your documents in db. I think, this case should be built-in, isn't it?

[2022-07-15 04:40] erfanium commented on #296
@FFKL you can make a clean up function that removes any null key from object when you want save something to the database.

Please let's keep the validator simple

[2022-07-15 08:47] FFKL commented on #296
@erfanium No, It isn't working;) I I don't think this case is about complicating the validator. Sometimes I want `null` in my object for certain keys, sometimes I don't so I can't just use a clean up function. It's about validation logic itself. In my opinion, validator should help me in this base case.

[2022-07-18 19:10] blendPOS opened #299 "Halt on Error Possible?"
I don't see a way currently, but is it possible to halt the validation process as soon as a validator encounters an error? I'm using an async validator, and I'd like to be able to run basic validations (string length, format, etc), before accessing the DB (which are async custom validations in the same schema property).

If a field hits an error, I'd like the validation process to stop and return

[2022-07-25 18:30] stfsy opened #301 "Would it be possible to use RE2 instead of Regex?"
Hi everyone,

hope you're good.

I'm planning to allow customers to provide a small schema for messages they can add to my service. That means customers would be able to provide i.e. patterns which could potentially lead to DOS attacks.

It's known that JS `RegExp` is vulnerable to DOS attacks via i.e. lookaheads.

The package https://www.npmjs.com/package/re2 is often considered as a drop-in repl

[2022-07-25 18:36] erfanium commented on #301
FV is highly customization, You can create your own custom validator using RE2.
We are not going to add a third=party dependency to this project

[2022-07-25 18:44] stfsy commented on #301
@erfanium fair enough

[2022-07-25 18:44] #301 closed

[2022-08-03 16:25] icebob commented on #299
It's not available currently.

[2022-08-03 17:02] #297 closed

[2022-08-04 21:02] dougg0k opened #302 "Q: Object with random key:value validation"
Hi,

In the validation here, I have the validation below for, since there are random key:value, that can be put on.
[code]
What I want to ask, is there a way to validate the value type in these random (key:value)?

Like have the random values only be type string | number | boolean.

e.g., in typescript `{ data: Record<string, string | number | boolean>; }`

[2022-08-13 13:57] icebob commented on #302
Maybe it will be a solution? https://github.com/icebob/fastest-validator/issues/276

[2022-08-13 15:50] dougg0k commented on #302
It seems it's only making a way to expect the key to be one or the other, though if they support the multi validation type for the value, it could work.

I have a object with random data, that data is key `string` and value can be `string`, `number`, `boolean`, `object` or even an `array`. That's what I am looking to validate, have the options to set what kind of random values it can be expect in

[2022-08-19 07:39] avanelli commented on #299
Hello, I would like to implement this.
If you have any clues to get started, it would be welcome.

[2022-08-21 14:46] icebob commented on #299
You should check the source code and check the generated codes as well (`debug: true` in options). I think the best solution to implement it in the object rule and checks the error array after every property and if it contains items return with the errors (if this new option (e.g. `haltOnError` is enabled).

The hardest part will be the multi rule, e.g. you have two object definitions in a multi r

[2022-08-22 20:32] ccampanale opened #303 "Multi-schema nullable validators not working as expected."
I'm using `fastest-validator@1.13.0` and attempting a multi-validator schema to represent the union type `string | boolean | null` while disallowing `undefined` but this is not working as I expect.

According to the docs:

[code]

The third test should pass since both schemas are `nullable`. Instead I see the follow results from the validator:

[code]

Let me know if I a missing something and than

[2022-08-23 14:50] avanelli commented on #299
Thank you @icebob. I will start working on this.

[2022-08-24 20:57] avanelli opened #305 "Lint errors"
### Description
There are some linting issues on the project

![immagine](https://user-images.githubusercontent.com/50946384/186521672-d665dbe0-c31a-4a2e-99e6-74dd1bae7aa8.png)

If you need help, I can fix them.

### How to reproduce
run: `npm run lint`

[2022-08-27 16:15] icebob commented on #303
The `nullable` is not working with `multi` rule shorthand format, try this form:

[code]
![image](https://user-images.githubusercontent.com/306521/187038686-d97bb254-524d-4ecb-8837-78a8d17b6c6e.png)

[2022-08-27 16:25] #303 closed

[2022-08-27 16:25] icebob commented on #305
Thanks, but they are not relevants, we should ignore them with eslint.

[2022-08-27 16:44] #299 closed

[2022-08-28 13:33] hugebdu opened #307 "bug in record rule?"
I suspect that the record rule resets the value.
this test fails for me:

[code]

[2022-08-28 17:36] icebob commented on #307
@FFKL could you check it plz?

[2022-08-29 13:13] ccampanale commented on #303
@icebob Thanks for addressing this. The long form `multi` - which I honestly must have glossed over in the docs - works great.

[2022-08-29 17:01] icebob commented on #303
Nop, by the way, the issue fixed in the latest version, so your original code can work as well.

[2022-08-30 16:11] #209 closed

[2022-09-02 09:50] intech opened #309 "Feat: add array index in path"
When validating an array of objects, when we use custom in nested rules, we cannot get the array element we are validating.

https://github.com/icebob/fastest-validator/blob/7b3557195393a83c09a1d3e581db898e1fcc26b4/lib/rules/array.js#L84-L88

An example of such a scheme:
[code]

The solution might be to change
`const itemPath = path + "[]";`
on the
`const itemPath = path + `[${i}]`;`

[2022-09-12 15:18] ipetrovic11 opened #310 "Performance issues: compile function"
Using the fastest validator in a loop(for/while/etc...), for example, when an array of elements is checked will have a bad impact on performance. It works great if you do check for the whole array at once, but if you want to do one-by-one, which could be the case if you want to process the array partially, will have a bad impact on performance.

The core of the issue is "compile" function since fo

[2022-09-12 18:59] erfanium commented on #310
Please share your use case code that shows this performance issue

[2022-09-12 19:39] ipetrovic11 commented on #310
Looks like we were not using v.compile but v.validate which was the issue.

[2022-09-12 19:39] #310 closed

[2022-09-30 07:09] m0x31h0x64i opened #311 "how to write enum types as a short hand ?"
hi, i want to write enum type and its values in shorthand syntax, but how?

[code]
it throws an error on the console :
[code]

[2022-10-01 15:17] icebob commented on #311
Enum values have no shorthand format.

[2022-10-12 16:58] #276 closed

[2022-11-06 16:13] FranzZemen opened #312 "Make applying defaults optional"
A feature to optionally (default false) not apply defaults would be a great feature.

[2022-11-21 10:40] DenisFerrero opened #313 "Single and list of data auto-handling"
Hi, in my projects I handle many params as an array and they can be passed as a single value or as a list of values, but every time I have to manage this case manually

For example:
[code]

It would be great if this array conversion could be done directly by the validator using a parameter. For example:

[code]

[2022-11-21 13:20] erfanium commented on #313
I think that's out of scope, even TypeScript doesn't have support for this

[2022-11-21 20:01] erfanium commented on #313
I know it's useful but it can't be done at validation layer. it has some technical issues. e.g. how should we handle nested arrays? this logic only works for simple arrays like `string[]` and not for something like `string[][]`

[2022-11-22 07:53] DenisFerrero commented on #313
Ok, that's right some cases can't be covered. Is there a way to add this property wrap: true with the related behavior into the validator using plugins? Even if it's out of scope it will be really useful at least to have it in my projects. There are aliases but I prefer to don't use them as the schemas are used by an external package to compile the Swagger automatically before the compilation.
Oth

[2022-11-27 09:58] icebob commented on #313
The `convert` option does the same for primitive types to convert string to number or date. Maybe we can do it for arrays, so if the input is not an array, it wraps the input into an array.

[2022-11-27 10:52] DenisFerrero commented on #313
That would be great, so in the case of string[][] it's not considered an improper validation as it's just a data conversion process

[2022-11-27 11:00] icebob commented on #313
Yeah, it just a helper to make an array wrapping. Could you create a PR?